@charset "utf-8";

.oh {
  overflow: hidden;
}

body {
  background-color: #efefef;
}

.index-header {
  margin-bottom: rem(60);

  img {
    width: 100%;
    display: block;
  }

  .logo {
    width: rem(186);
    height: auto;
    position: absolute;
    left: rem(30);
    top: rem(22);

    img {
      width: 100%;
    }
  }

  h1 {
    font-size: rem(54);
    font-weight: bold;
    color: rgba(246, 126, 163, 1);
    background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: rem(165);
    left: rem(37);
  }
}

.report-title {
  height: rem(80);
  line-height: rem(80);
  padding: 0 rem(20);
  background: linear-gradient(150deg, rgba(123, 204, 255, .15) 0%, rgba(155, 240, 255, .15) 100%);
  border-radius: rem(20) rem(20) 0 0;
  position: relative;

  span {
    display: block;
    font-size: rem(36);
    font-weight: 500;
    color: rgba(1, 1, 1, 1);
    background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
  }

  i {
    position: absolute;
    top: 0;
    right: rem(30);
    font-size: rem(18);
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
  }

  img {
    vertical-align: rem(-5);
    height: rem(35);
    margin: 0 rem(6) 0;
  }
}

.report-title-2 {
  height: auto;
  padding: rem(20) rem(30);
  background: linear-gradient(150deg, rgba(123, 204, 255, .15) 0%, rgba(155, 240, 255, .15) 100%);
  border-radius: rem(20) rem(20) 0 0;

  span {
    font-size: rem(36);
    font-weight: 500;
    color: rgba(1, 1, 1, 1);
    background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
    -webkit-background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    display: block;
  }

  .ab {
    font-size: rem(20);
    color: rgba(0, 0, 0, .5);
  }
}

.report-div {
  width: rem(670);
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px rem(4) rem(10) 0px rgba(115, 115, 115, 0.1);
  border-radius: rem(20);
  margin: 0 auto rem(36);
  position: relative;
  z-index: 2;
  padding-bottom: rem(40);

  p {
    font-size: rem(24);
    color: rgba(0, 0, 0, .8);
    line-height: rem(36);
    opacity: 0.8;
  }

  .sport-text img {
    width: 100%;
    margin: rem(10) auto;
    display: block;
  }
}

.sport-show {
  padding: rem(60) rem(30);

  li {
    a {
      @extend .clearfix;
    }

    margin-bottom: rem(70);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .l {
    width: rem(100);
    height: rem(100);
    float: left;

    img {
      width: 100%;
      display: block;
    }
  }

  .r {
    width: rem(490);
    float: right;

    h3 {
      font-size: rem(30);
      color: rgba(99, 99, 99, 1);
      padding: rem(5) 0 rem(5) rem(10);
    }

    .progress {
      width: rem(490);
      height: rem(40);
      line-height: rem(40);
      background: rgba(240, 240, 240, 1);
      border-radius: rem(20);
      overflow: hidden;

      span {
        float: left;
        text-align: center;
        border-radius: rem(20);
        color: rgba(191, 191, 191, 1);

        &:first-child.active {
          background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
        }

        &:nth-child(2).active {
          background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
        }

        &:last-child.active {
          background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
        }

        &:last-child {
          float: right;
        }

        &.active {
          color: #fff;
        }
      }

    }

    .precent {
      float: right;
      padding-right: rem(30);
      font-size: rem(30);
    }

    .progress-3 span {
      width: 33.33%;
    }

    .progress-2 span {
      width: 50%;
    }
  }

  .disease-red {
    .precent {
      color: rgba(255, 97, 92, 1)
    }

    .line {
      background: linear-gradient(90deg, rgba(255, 163, 136, 1), rgba(255, 96, 93, 1));
    }
  }

  .disease-blue {
    .precent {
      color: rgba(115, 202, 255, 1);
    }

    .line {
      background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
    }
  }

  .disease-green {
    .precent {
      color: rgba(193, 228, 155, 1)
    }

    .line {
      background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
    }
  }

  .line {
    float: left !important;
    height: 100%;
  }

  .line-1 {
    width: 14%;
  }

  .line-2 {
    width: 14*2%;
  }

  .line-3 {
    width: 14*3%;
  }

  .line-4 {
    width: 14*4%;
  }

  .line-5 {
    width: 14*5%;
  }

  .line-6 {
    width: 14*6%;
  }

  .line-7 {
    width: 92%;
  }
}

.style-blue {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%) !important;
}

.style-green {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%) !important;
}

.style-red {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%) !important;
}

// 二级页面

.second-top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  .logo img {
    position: absolute;
    top: rem(25);
    left: rem(21);
    width: rem(186);
  }

  .bg {
    width: 100%;
    height: auto;
  }

  h2 {
    position: absolute;
    top: rem(138);
    width: 100%;
    left: 0;
    height: rem(60);
    font-size: rem(50);
    line-height: rem(60);
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    text-align: center;

    a {
      display: block;
      width: rem(28);
      height: rem(18);
      background-size: 100% 100%;
      background-image: url(../images/up.png);
      transform: rotate(-90deg) translateY(-50%);
      vertical-align: middle;
      position: absolute;
      top: 45%;
      left: rem(32);
    }
  }

  .demo {
    width: rem(366);
    height: rem(366);
    border-radius: 50%;
    border: 1px solid #fff;

    position: absolute;
    left: 50%;
    margin-left: rem(-183);
    top: rem(225);
    z-index: 3;
  }
}

.report-top {
  padding-top: rem(570);

  h2 {
    font-size: rem(36);
    font-weight: 600;
    color: rgba(1, 1, 1, 1);

    background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: rem(38);
  }
}

.sport-progress {
  padding-top: rem(20);
  width: rem(610);
  margin: 0 auto 0;

  .line {
    width: rem(610);
    height: rem(40);
    background: rgba(240, 240, 240, 1);
    border-radius: rem(20);
    position: relative;
    overflow: hidden;
  }

  p {
    overflow: hidden;
    font-size: rem(22);
    position: relative;

    span:first-child {
      float: left;
      margin-left: rem(14);
    }

    span:last-child {
      float: right;
      margin-right: rem(14);
    }
  }

  .self-progress {
    float: left;
    height: rem(40);
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
    border-radius: rem(20);
    margin-bottom: rem(5);
  }
}

.sport-progress-2 {
  p {
    color: #aaa;
  }

  span {
    &:nth-child(2) {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.sport-progress.style-1 {
  p span:first-child {
    color: #000
  }

  .line .self-progress {
    margin-left: 0;
    color: #fff;
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
    width: 50%;
  }
}

.sport-progress.style-2 {
  p span:nth-child(2) {
    color: #000
  }

  .line .self-progress {
    margin-left: 50%;
    color: #fff;
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
    width: 50%;
  }
}

.sport-progress-2.style-1 {
  p span:first-child {
    color: #000
  }

  .line .self-progress {
    margin-left: 0;
    color: #fff;
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
    width: 33.33%;
  }
}

.sport-progress-2.style-2 {
  p span:nth-child(2) {
    color: #000
  }

  .line .self-progress {
    margin-left: 33.33%;
    color: #fff;
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
    width: 33.33%;
  }
}

.sport-progress-2.style-3 {
  p span:last-child {
    color: #000
  }

  .line .self-progress {
    margin-left: 66.66%;
    color: #fff;
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
    width: 33.33%;
  }
}

.sport-text {
  padding: rem(30) rem(30) 0;

  p {
    line-height: 2;
  }

  em {
    color: rgba(255, 132, 132, 1)
  }
}

.has-checkbox {
  p {
    position: relative;
    padding-left: rem(26);

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: rem(20);
      height: rem(22);
      left: 0;
      top: rem(15);
      background-size: 100% 100%;
      background-image: url(../images/second/icon1-8.png)
    }
  }
}

.food-about {
  @extend .clearfix;
  padding: rem(40) rem(24) 0;

  li {
    width: rem(606);
    height: rem(126);
    background: rgba(238, 250, 254, 1);
    box-shadow: 0px rem(4) rem(10) 0px rgba(115, 115, 115, 0.1);
    border-radius: rem(50);
    margin-bottom: rem(50);
    float: left;
    position: relative;

    &:nth-child(2n-1) {
      float: right;

      .img {
        left: rem(-20);
        p{
          left: 0;
        }
      }

      .text {
        left: auto;
        right: rem(40);
      }
    }

    .img {
      position: absolute;
      width: rem(100);
      height: rem(100);
      right: rem(-20);
      top: rem(10);
      background: linear-gradient(-45deg, rgba(161, 219, 255, 1) 0%, rgba(198, 246, 255, 1) 100%);
      box-shadow: 0px 0px rem(10) rem(10) rgba(0, 0, 0, 0.05);
      border-radius: 50%;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 120%;
        width: 120%;
        transform: translate(-50%, -50%);
      }

      p {
        white-space: nowrap;
        position: absolute;
        min-width: 100%;
        max-width: rem(600);
        right: 0;
        top: rem(115);
        color: rgba(182, 120, 39, 1);
        text-align: center;
      }
    }

    .text {
      position: absolute;
      width: rem(450);
      font-size: rem(24);
      color: rgba(77, 77, 77, 1);
      line-height: rem(36);
      max-height: rem(36*3);
      overflow: hidden;
      left: rem(40);
      top: 50%;
      transform: translateY(-50%);
      text-align: justify;
    }
  }
}

.title-middle {
  border-radius: 0;
}

.inner-title {
  display: inline-block;
  height: rem(55);
  background-image: url(../images/second/textbg1-2.png);
  background-size: 100% 100%;
  font-size: rem(28);
  font-weight: 600;
  color: rgba(14, 155, 252, 1);
  line-height: rem(68);
  text-align: center;
  margin: rem(24) auto;
  position: relative;

  &:before,&:after  {
    content: '';
    position: absolute;
    top: 0;
    right: rem(-70);
    width: rem(70);
    height: rem(55);
    background-image: url(../images/second/textbg1-3.png);
    background-size: 100% 100%;
  }

  &::before{
    width: rem(55);
    left: rem(-55);
    right: auto;
    background-image: url(../images/second/textbg1-1.png);
  }
}

.reason-text {
  padding-top: 0;

  i,
  em {
    display: inline-block;
    width: rem(44);
    height: rem(35);
    background-size: 100% 100%;
    background-image: url(../images/second/icon1-9.png);
    text-align: center;
    font-style: normal;
    color: #fff;
    line-height: 1.5;
    margin: rem(10) 0;
  }
}

.sport-table {
  width: rem(610);
  margin: 0 auto;
  padding-top: rem(40);

  >.tr {
    &:first-child {
      height: rem(50);
      background: linear-gradient(-90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
      border-radius: 10px 10px 0px 0px;
    }
  }

  .tr {
    width: 100%;
    background: rgba(240, 253, 255, 1);
    min-height: rem(40);
    line-height: rem(40);
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;

    .th,
    .td {
      display: block;
      float: left;
      width: 25%;
      line-height: rem(40);
      font-size: rem(24);
      color: rgba(0, 0, 0, .64);
      border-right: 1px solid #fff;
      box-sizing: border-box;
      word-break: break-all;

      &:last-child {
        border-right: 0;
      }
    }

    .th {
      color: #fff;
      line-height: rem(50);
    }

    .td {
      line-height: rem(35);
      padding: rem(15) 0;
    }

    .high {
      display: inline-block;
      height: rem(35);
      line-height: rem(35);
      padding: 0 rem(18);
      background: rgba(255, 205, 31, .5);
      color: rgba(255, 103, 101, 1);
      border-radius: rem(35);
    }
  }
}

.outer-div {
  padding-top: rem(20);
  width: rem(670);
  margin: 0 auto;
  font-size: rem(24);
  color: rgba(119, 119, 119, 1);
  text-align: justify;
  margin-bottom: rem(100);
}

.href-btn {
  display: block;
  margin: 0 auto rem(36);
  width: rem(670);
  height: rem(77);
  text-align: center;
  line-height: rem(77);
  background: rgba(230, 241, 252, 1);
  font-size: rem(30);
  color: rgba(86, 86, 86, 1);
  border-radius: rem(77);
}

.style-pink {
  color: #fff !important;
  background: linear-gradient(90deg, rgba(255, 140, 167, .7) 0%, rgba(255, 113, 143, .7) 100%) !important;
}

.second-style-2 {

  .report-top h2 {
    background: linear-gradient(-90deg, rgba(233, 98, 130, 1) 0.9765625%, rgba(247, 136, 172, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

  .report-title {
    background: linear-gradient(150deg, rgba(255, 123, 160, .12) 0%, rgba(255, 155, 183, .12) 100%);

    span {
      background: linear-gradient(-90deg, rgba(233, 98, 130, 1) 0.9765625%, rgba(247, 136, 172, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent
    }
  }

  .has-checkbox p::before {
    background-image: url(../images/second/icon2-8.png)
  }

  .food-about {
    li {
      background: rgba(254, 238, 242, 1);
    }

    .img {
      background: linear-gradient(-45deg, rgba(255, 161, 185, 1) 0%, rgba(255, 198, 213, 1) 100%);
    }
  }

  .inner-title {
    color: #fff;
    background-image: url(../images/second/textbg2-2.png);

    &:before,&:after  {
      background-image: url(../images/second/textbg2-3.png);
    }
  
    &::before{
      background-image: url(../images/second/textbg2-1.png);
    }
  }

  .reason-text i,
  .reason-text em {
    background-image: url(../images/second/icon2-9.png)
  }

  .sport-table {
    .tr {
      background: rgba(244, 244, 244, 1)
    }

    >.tr:first-child {
      background: linear-gradient(-90deg, rgba(255, 140, 164, .8) 0%, rgba(255, 113, 143, .8) 100%);
    }
  }

  .href-btn {
    background: rgba(252, 230, 236, 1);
  }
}

.second-style-3 {

  .report-title {
    background: linear-gradient(-90deg, rgba(255, 192, 162, .1) 0%, rgba(255, 165, 123, .1) 100%);

    span {
      background: linear-gradient(-90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 127, 70, 1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent
    }
  }

  .reason-text i,
  .reason-text em {
    background-image: url(../images/second/icon3-9.png)
  }

  .sport-table {
    .tr {
      background: rgba(255, 249, 245, 1);
    }

    >.tr:first-child {
      background: linear-gradient(-90deg, rgba(255, 192, 162, 1) 0%, rgba(255, 165, 123, 1) 100%);
    }

    .th {
      width: rem(590/4);
    }

    .th:last-child {
      box-sizing: content-box;
      padding-right: rem(18);
    }
  }

  .href-btn {
    background: rgba(255, 246, 242, 1);
  }

  .sp {
    padding-top: rem(20);
  }
}

.reason-text2 {
  i,em {
    display: inline-block;
    width: rem(35);
    height: rem(35);
    line-height: rem(35);
    text-align: center;
    font-style: normal;
    color: #fff;
    background: #ff8953;
    border-radius: rem(35);
    margin-right: rem(3);
  }
}

.sport-ing {
  padding-top: rem(40);
  padding-left: 1.2rem;
  position: relative;

  .line {
    width: rem(476);
    height: rem(12);
    background: rgba(228, 228, 228, 1);
    border-radius: rem(12);
    overflow: hidden;
  }

  p {
    position: absolute;
    right: 1rem;
    top: rem(30);
    float: right;
    color: rgba(255, 121, 120, 1);
  }

  .self-progress {
    height: 100%;
    border-radius: rem(12);
  }
}

.style-1 .self-progress {
  width: 14%;
}

.style-2 .self-progress {
  width: 14*2%;
}

.style-3 .self-progress {
  width: 14*3%;
}

.style-4 .self-progress {
  width: 14*4%;
}

.style-5 .self-progress {
  width: 14*5%;
}

.style-6 .self-progress {
  width: 14*6%;
}

.style-7 .self-progress {
  width: 92%;
}

.color-red {
  .self-progress {
    @extend .style-red;
  }

  .sport-ing p,
  .sport-text em {
    color: #ff8484
  }
}

.color-green {
  .self-progress {
    @extend .style-green;
  }

  .sport-ing p,
  .sport-text em {
    color: #c1e49b
  }
}

.color-blue {
  .self-progress {
    @extend .style-blue;
  }

  .sport-ing p,
  .sport-text em {
    color: #73caff
  }
}


.table-bottom {
  max-height: 2.63*3rem;
  overflow: auto;
  background: #fff9f5;

  &::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar {
    width: rem(20);
    height: rem(13);
    border-radius: rem(20);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 165, 123, .7);
    background-clip: padding-box;
    border-radius: rem(20);
    min-height: rem(28);
    opacity: .5;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 165, 123, .7);
    border-radius: rem(20);
    opacity: .5;
  }
}