@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #f0f0f0;
    font-family: "微软雅黑";
    padding-bottom: rem(40);
}

.logo {
    width: rem(146);
    // height: rem(54);
    position: absolute;
    left: rem(50);
    top: rem(50);

    img {
        width: 100%;
    }
}

.title-middle {
    border-radius: 0;
}

.reason-text {
    padding-top: 0;

    i,
    em {
        display: inline-block;
        width: rem(44);
        height: rem(35);
        background-size: 100% 100%;
        background-image: url(../images/icon1-9.png);
        text-align: center;
        font-style: normal;
        color: #fff;
        line-height: 1.5;
        margin: rem(10) 0;
    }
}

.inner-title {
    display: inline-block;
    height: rem(55);
    background-image: url(../images/textbg1-2.png);
    background-size: 100% 100%;
    font-size: rem(28);
    font-weight: 600;
    color: rgba(14, 155, 252, 1);
    line-height: rem(68);
    text-align: center;
    margin: rem(24) auto;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: rem(-70);
        width: rem(70);
        height: rem(55);
        background-image: url(../images/textbg1-3.png);
        background-size: 100% 100%;
    }

    &::before {
        width: rem(55);
        left: rem(-55);
        right: auto;
        background-image: url(../images/textbg1-1.png);
    }
}

.href-btn {
    display: block;
    margin: 0 auto rem(36);
    width: rem(670);
    height: rem(77);
    text-align: center;
    line-height: rem(77);
    background: rgba(230, 241, 252, 1);
    font-size: rem(30);
    color: rgba(86, 86, 86, 1);
    border-radius: rem(77);
}

.outer-div {
    padding-top: rem(20);
    width: rem(670);
    margin: 0 auto;
    font-size: rem(24);
    color: rgba(119, 119, 119, 1);
    text-align: justify;
    margin-bottom: rem(100);
}

.food-about {
    @extend .clearfix;
    padding: rem(40) rem(24) 0;

    li {
        width: rem(606);
        height: rem(126);
        background: rgba(238, 250, 254, 1);
        box-shadow: 0px rem(4) rem(10) 0px rgba(115, 115, 115, 0.1);
        border-radius: rem(50);
        margin-bottom: rem(50);
        float: left;
        position: relative;

        &:nth-child(2n-1) {
            float: right;

            .img {
                left: rem(-20);

                p {
                    left: 0;
                }
            }

            .text {
                left: auto;
                right: rem(40);
            }
        }

        .img {
            position: absolute;
            width: rem(100);
            height: rem(100);
            right: rem(-20);
            top: rem(10);
            background: linear-gradient(-45deg, rgba(161, 219, 255, 1) 0%, rgba(198, 246, 255, 1) 100%);
            box-shadow: 0px 0px rem(10) rem(10) rgba(0, 0, 0, 0.05);
            border-radius: 50%;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                height: 120%;
                width: 120%;
                transform: translate(-50%, -50%);
            }

            p {
                white-space: nowrap;
                position: absolute;
                min-width: 100%;
                max-width: rem(600);
                right: 0;
                top: rem(115);
                color: rgba(182, 120, 39, 1);
                text-align: center;
            }
        }

        .text {
            position: absolute;
            width: rem(450);
            font-size: rem(24);
            color: rgba(77, 77, 77, 1);
            line-height: rem(36);
            max-height: rem(36*3);
            overflow: hidden;
            left: rem(40);
            top: 50%;
            transform: translateY(-50%);
            text-align: justify;
        }
    }
}

.has-checkbox {
    p {
        position: relative;
        padding-left: rem(26);

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: rem(20);
            height: rem(22);
            left: 0;
            top: rem(6);
            background-size: 100% 100%;
            background-image: url(../images/icon1-8.png)
        }
    }
}

// 运动
.report-header {
    img {
        width: 100%;
        display: block;
    }

    h1 {
        position: absolute;
        top: rem(110);
        left: rem(50);
        font-size: rem(48);
        font-weight: bold;
        color: rgba(246, 126, 163, 1);

        background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.report-div {
    width: rem(670);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px rem(4) rem(10) 0px rgba(115, 115, 115, 0.1);
    border-radius: rem(20);
    margin: 0 auto rem(30);
    position: relative;
    z-index: 2;
    padding-bottom: rem(40);

    p {
        font-size: rem(24);
        color: rgba(0, 0, 0, .8);
        line-height: rem(36);
        opacity: 0.8;
    }

    .sport-text img {
        width: 100%;
        margin: rem(10) auto;
        display: block;
    }
}

.report-res {
    margin-top: rem(-40);
}

.report-title {
    height: rem(80);
    line-height: rem(80);
    padding: 0 rem(30);
    background: linear-gradient(150deg, rgba(123, 204, 255, .15) 0%, rgba(155, 240, 255, .15) 100%);
    border-radius: rem(20) rem(20) 0 0;
    position: relative;

    span {
        display: block;
        font-size: rem(36);
        font-weight: 500;
        color: rgba(1, 1, 1, 1);
        background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
        -webkit-background-clip: text;
        font-weight: bold;
        -webkit-text-fill-color: transparent;
    }

    i {
        position: absolute;
        top: 0;
        right: rem(30);
        font-size: rem(18);
        color: rgba(0, 0, 0, 0.5);
        font-style: normal;
    }
}

.advice-text {
    padding-top: rem(30);
    display: block;
    width: rem(610);
    margin: 0 auto;

    strong {
        font-size: rem(36);
        font-weight: bold;
        color: rgba(255, 128, 71, .8)
    }
}

.share-in {
    width: rem(350);
    height: rem(350);
    position: relative;
    padding: rem(24) 0;
    margin: 0 auto rem(-40);

    .in {
        a {
            display: block;
            position: absolute;
            top: rem(280);
            left: 50%;
            transform: translateX(-50%);
            width: rem(150);
            height: rem(60);
            line-height: rem(60);
            background: linear-gradient(135deg, rgba(0, 204, 255, 1) 0%, rgba(0, 168, 255, 1) 100%);
            box-shadow: 0px rem(6) rem(12) 0px rgba(208, 240, 248, 1);
            border-radius: rem(30);
            color: rgba(255, 255, 255, 1);
            font-size: rem(24);
            text-align: center;
            text-shadow: 0px 3px 6px rgba(0, 126, 255, 1);
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        display: block;
    }

    .man {
        position: absolute;
        width: rem(230);
        height: rem(230);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    .tip {
        position: absolute;
        height: rem(50);
        padding: 0 rem(20);
        line-height: rem(50);
        white-space: nowrap;
        background: linear-gradient(140deg, rgba(112, 230, 255, .4) 0%, rgba(78, 204, 255, .4) 100%);
        border: rem(2) solid rgba(113, 195, 252, .4);
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
        border-radius: rem(25) rem(25) 0px rem(25);
        text-align: center;

        span {
            background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .tip-1 {
        right: rem(212);
        top: rem(24);
    }

    .tip-2 {
        right: rem(295);
        top: rem(104);
    }

    .tip-3 {
        right: rem(300);
        top: rem(157+24);
    }

    .tip-4 {
        right: rem(290);
        top: rem(236+24);
    }

    .tip-5 {
        left: rem(272);
        top: rem(40+24);
        border-radius: rem(25) rem(25) rem(25) 0;
    }

    .tip-6 {
        left: rem(304);
        top: rem(118+24);
        border-radius: rem(25) rem(25) rem(25) 0;
    }

    .tip-7 {
        left: rem(300);
        top: rem(197+24);
        border-radius: rem(25) rem(25) rem(25) 0;
    }
}

.sport-show {
    padding: rem(30) rem(30) 0;

    li {
        a {
            @extend .clearfix;
        }

        margin-bottom: rem(30);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .l {
        width: rem(100);
        height: rem(100);
        float: left;

        img {
            width: 100%;
            display: block;
        }
    }

    .r {
        width: rem(490);
        float: right;

        h3 {
            font-size: rem(30);
            color: rgba(0, 0, 0, .8);
            padding: rem(5) 0 rem(5) rem(10);
        }

        .progress {
            width: rem(490);
            height: rem(40);
            line-height: rem(40);
            background: rgba(240, 240, 240, 1);
            border-radius: rem(20);
            overflow: hidden;

            span {
                float: left;
                text-align: center;
                border-radius: rem(20);
                color: rgba(191, 191, 191, 1);

                &:first-child.active {
                    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
                }

                &:nth-child(2).active {
                    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
                }

                &:last-child.active {
                    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
                }

                &:last-child {
                    float: right;
                }

                &.active {
                    color: #fff;
                }
            }

        }

        .progress-3 span {
            width: 33.33%;
        }

        .progress-2 span {
            width: 50%;
        }
    }
}

.second-header {
    .bg {
        width: 100%;
    }
}

.sport-progress {
    padding-top: rem(40);
    width: rem(610);
    margin: 0 auto rem(30);

    .line {
        width: rem(610);
        height: rem(40);
        background: rgba(240, 240, 240, 1);
        border-radius: rem(20);
        position: relative;
        overflow: hidden;
    }

    p {
        overflow: hidden;
        font-size: rem(22);
        position: relative;

        span:first-child {
            float: left;
            margin-left: rem(14);
        }

        span:last-child {
            float: right;
            margin-right: rem(14);
        }
    }

    .self-progress {
        float: left;
        height: rem(40);
        background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
        border-radius: rem(20);
        margin-bottom: rem(5);
    }
}

p.sp-1 {
    display: block;
    width: rem(610);
    margin: 0 auto;
    font-size: rem(28);
    font-weight: 400;
    color: rgba(114, 201, 255, 1);
    margin-bottom: rem(24);

    em {
        font-weight: bold;
        font-size: rem(36);
    }
}

p.sp-2 {
    display: block;
    width: rem(610);
    margin: 0 auto;
    font-size: rem(24);
    color: rgba(0, 0, 0, .8);
    line-height: rem(36);
    opacity: 0.8;

    em {
        color: #31BA50;
    }
}

.second-top-div {
    margin-top: rem(-120);
}

.second-top {
    position: absolute;
    width: rem(100);
    right: rem(30);
    top: rem(-50);
}

.img-advise {
    margin-bottom: rem(-40);
    @extend .clearfix;

    li {
        float: left;
        width: 33.33%;
        height: rem(250);
        box-sizing: border-box;
        position: relative;
        text-align: center;
        padding-top: rem(40);

        &:after {
            content: '';
            right: 0;
            bottom: 0;
            width: 1px;
            height: rem(250);
            background: linear-gradient(0deg, rgba(240, 240, 240, 1) 0%, rgba(244, 253, 255, 1) 100%);
        }

        &::nth-child(3n) {
            display: none;
        }
    }

    img {
        width: rem(140);
        height: rem(140);
    }

    p {
        font-size: rem(24);
        color: rgba(0, 0, 0, .6);
    }
}

.sport-text {
    padding: rem(30) rem(30) 0;
}

.sport-table {
    width: rem(610);
    margin: 0 auto;
    padding-top: rem(40);

    .tr {
        width: 100%;
        background: rgba(240, 253, 255, 1);
        min-height: rem(40);
        line-height: rem(40);
        text-align: center;
        overflow: hidden;
        border-bottom: 1px solid #fff;

        &:first-child {
            height: rem(50);
            background: linear-gradient(-90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
            border-radius: 10px 10px 0px 0px;
        }

        .th,
        .td {
            display: block;
            float: left;
            width: 25%;
            line-height: rem(40);
            font-size: rem(24);
            color: rgba(0, 0, 0, .64);
            border-right: 1px solid #fff;
            box-sizing: border-box;

            &:last-child {
                border-right: 0;
            }
        }

        .th {
            color: #fff;
            line-height: rem(50);
        }

        .red {
            color: rgba(255, 103, 101, .8);
            font-weight: 500;
        }

        .green {
            color: rgba(49, 186, 80, .8);
            font-weight: 500;
        }
    }
}

// 营养
.nutrition-report {
    .report-header h1 {
        background: linear-gradient(-90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 127, 70, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .report-title {
        background: linear-gradient(-90deg, rgba(255, 192, 162, .1) 0%, rgba(255, 165, 123, .1) 100%);

        span {
            background: linear-gradient(-90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 127, 70, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .share-in {
        .tip {
            background: linear-gradient(-45deg, rgba(255, 190, 160, .4) 0%, rgba(255, 216, 188, .4) 100%);
            border: 0;

            span {
                background: linear-gradient(-90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 127, 70, 1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .tip-1 {
            right: rem(255);
            top: rem(10+24);
        }

        .tip-2 {
            right: rem(331);
            top: rem(114+24);
        }

        .tip-3 {
            right: rem(311);
            top: rem(217+24);
        }

        .tip-4 {
            left: rem(310);
            right: auto;
            top: rem(62+24);
            border-radius: rem(25) rem(25) rem(25) 0;
        }

        .tip-5 {
            left: rem(332);
            top: rem(165+24);
            border-radius: rem(25) rem(25) rem(25) 0;
        }

        .in {
            a {
                box-shadow: 0px 6px 12px 0px rgba(255, 211, 190, 1);
                background: linear-gradient(-45deg, rgba(255, 165, 123, 1) 0%, rgba(255, 175, 137, 1) 100%);
                text-shadow: 0px 3px 6px rgba(255, 132, 0, 1);
            }
        }
    }

    .sport-progress {
        .self-progress {
            background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
        }
    }

    p.sp-1 {
        color: rgba(255, 177, 140, 1);
    }

    p.sp-2 em {
        color: rgba(243, 61, 20, .8)
    }

    .nutrition-advise {
        padding-top: rem(35);

        img {
            width: rem(250);
            display: block;
            margin: 0 auto rem(28);
        }

        p {
            display: block;
            margin: 0 auto;
            width: rem(590);
            font-size: rem(24);
            color: rgba(0, 0, 0, .8);
            line-height: rem(36);
            word-break: break-all;
        }

        strong {
            font-size: rem(36);
            font-weight: bold;
            color: rgba(255, 128, 71, .8)
        }
    }

    .sport-table {
        .tr {
            background: rgba(255, 249, 245, 1);

            &:first-child {
                background: linear-gradient(-90deg, rgba(255, 192, 162, 1) 0%, rgba(255, 165, 123, 1) 100%);
            }
        }
    }

    .img-advise {
        margin-bottom: 0;
        box-sizing: border-box;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        margin-top: rem(30);

        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            box-sizing: border-box;
            border-right: 1px solid rgba(0, 0, 0, 0.05);

            &:nth-child(3n) {
                border-right: 0;
            }
        }
    }

    .sp-4 {
        width: rem(610);
        margin: 0 auto;
        display: block;
        text-align: right;
        font-size: 0.6rem;
        color: rgba(0, 0, 0, 0.5);
        font-style: normal;
        line-height: rem(80);
        margin-bottom: rem(-40);
    }
}

.progress-ing {
    width: rem(490);
    height: rem(40);
    background: rgba(240, 240, 240, 1);
    border-radius: rem(20);

    span {
        float: left;
        text-align: center;
        height: rem(40);
        line-height: rem(40);
        font-size: rem(24);
        color: rgba(255, 255, 255, 1);
        border-radius: rem(20);
    }

    .progress-1,
    .progress-2 {
        background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
    }

    .progress-3 {
        background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
    }

    .progress-4,
    .progress-5 {
        background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
    }

    .progress-1 {
        width: 20%
    }

    .progress-2 {
        width: 40%
    }

    .progress-3 {
        width: 60%
    }

    .progress-4 {
        width: 80%
    }

    .progress-5 {
        width: 100%
    }
}

.sport-show {

    .sport-table {
        float: right;
        padding-top: rem(20);
    }
}

// 手机
.phone {
    display: none;
}

.style-blue {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%) !important;
}

.style-green {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%) !important;
}

.style-red {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%) !important;
}

// 单独添加表格部分
.table-public-warp {
    width: 100%;
    overflow: auto;
    margin-bottom: rem(12);
    color: #fff;

    .left-icons {
        float: left;
        width: 13%;
        text-align: center;
        color: rgba(0, 0, 0, 0.64);

        div {
            position: relative;
            height: 50px;
        }

        span {
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: rem(16);
            white-space: nowrap;
        }

        strong {
            display: block;
            line-height: rem(20);
            white-space: normal;
            width: 100%
        }
    }

    img {
        height: rem(32);
        width: auto !important;
        margin: 0 auto;
        margin-bottom: rem(6);
    }

    .table-public {
        width: 87%;
        float: left;
        word-break: break-all;
        font-size: rem(18);
        line-height: rem(24);
        border-color: #000;
        box-sizing: border-box;
        border-collapse: inherit;
        border-spacing: 1px;

        th {
            text-align: center;
        }

        th,
        td {
            width: 50%;
            border: 2px solid transparent;
            box-sizing: border-box;
        }

        th>span,
        td>span {
            display: block;
        }

        th>span {
            padding: 6px 0;
        }

        td>span {
            padding: rem(20) rem(12);
        }

        tr th:first-child,
        tr td:first-child {
            background: #eeaab3;
        }

        tr th:nth-child(2),
        tr td:nth-child(2) {
            background: #a7caff;
        }

        tr th:nth-child(3),
        tr td:nth-child(3) {
            background: #e3a2ee;
        }
    }

    .tabbel-col-3 th,
    .tabbel-col-3 td {
        width: 33.33%;
    }

    .tabbel-col-2-1 {

        th,
        td {
            width: 50%;
        }

        tr th:first-child,
        tr td:first-child {
            background: #b3d698;
        }

        tr th:nth-child(2),
        tr td:nth-child(2) {
            background: #e0bb96
        }
    }

    .tabbel-col-2-2 {

        th,
        td {
            width: 50%;
        }

        tr th:first-child,
        tr td:first-child {
            background: #a7caff;
        }

        tr th:nth-child(2),
        tr td:nth-child(2) {
            background: #d0a1ed;
        }
    }

    .tabbel-col-2-3 {

        th,
        td {
            width: 50%;
        }

        tr th:first-child,
        tr td:first-child {
            background: #a7caff;
        }

        tr th:nth-child(2),
        tr td:nth-child(2) {
            background: #e9a8e1;
        }
    }
}