@charset "utf-8";

.oh{ overflow: hidden; }
body{ background-color: #fff; font-family: "黑体"; min-width: 1300px; }


// 手机
.phone{ display: none; }
@media screen and (min-width:1px) and (max-width:1019px){
	
}
