@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #f5f2ef;
    font-family: "微软雅黑";
    color: #333;
}

.inner-body {
    opacity: 0;
    transition: all 1s;
    height: 0;

    &:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        line-height: 2;
    }

    &.active {
        opacity: 1;
        height: auto;
    }
}

.p1 {
    font-size: rem(40);
}

.p2 {
    font-size: rem(36);
}

.p3 {
    font-size: rem(45);
}

.p4 {
    font-size: rem(45);
    padding-left: rem(40);
    font-weight: 600;
}

.p5 {
    font-size: rem(48);
}

.p6 {
    font-size: rem(38);
    font-weight: 300;

    em {
        font-weight: bold;
    }
}

.p7 {
    font-size: rem(47);
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.p8 {
    font-size: rem(28);
    color: #fff;
    text-align: center;
}


.p9 {
    font-size: rem(48);
    color: #fff;
}

.p10 {
    font-size: rem(38);
    color: #fff;
}

.p11 {
    font-size: rem(45);
}

.p12 {
    font-size: rem(38);
}

.p13 {
    font-size: rem(50);
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.p14 {
    font-size: rem(38);
    text-align: center;
}

a.h90 {
    height: rem(90);
    line-height: rem(90);
}

hr {
    width: 100%;
    height: rem(3);
    border: 0;
    margin: 0;
    background-color: #333333;
}

header {
    height: rem(80);
    line-height: rem(80);
    text-align: center;
    background-color: #fe8e4d;
    position: relative;
    color: #fff;

    .back-icon,
    .qus-icon {
        position: absolute;
        height: 100%;
        top: 0;
        padding: 0 rem(24);
    }

    .back-icon {
        left: 0;
    }

    .qus-icon {
        right: 0;
    }

    img {
        vertical-align: middle;
        height: rem(32);
    }
}

.main-body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 rem(60);
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: rem(1000);

    &.bac {
        background-image: url(../images/HEAD-BG2.png);
    }
}

.btns {
    width: rem(740);
    position: relative;
    left: 50%;
    margin-left: rem(-370);
    padding-bottom: rem(100);
    text-align: center;

    .btn-1 {
        display: inline-block;
    }

    .btn-2 {
        display: inline-block;
    }
}

.btns2 {
    .btn-1 {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.btn-1,
.btn-2 {
    width: rem(280);
    height: rem(74);
    line-height: rem(74);
    background-image: linear-gradient(90deg, #fe9f74 0%, #fe873c 100%);
    background-size: 100% 100%;
    box-shadow: 10px 17px 25px 0px rgba(251, 85, 4, 0.4);
    font-size: rem(30);
    text-align: center;
    color: #fff;
    border-radius: rem(74);

    img {
        height: rem(34);
        vertical-align: middle;
    }
}

.leida-in {
    width: rem(372);
    height: rem(372);
    background-size: 100% 100%;
    background-image: url(../images/leida.png);
    margin: rem(120) auto rem(120);
    position: relative;

    .leida {
        position: absolute;
        left: 50%;
        top: 51%;
        width: rem(425);
        transform: translate(-50%, -50%) rotate(0);
    }
}

.leida-in-my {
    width: rem(371);
    height: rem(354);
    background-size: 100% 100%;
    background-image: url(../images/fenbutu1.png);
    margin: rem(120) auto rem(120);
    position: relative;

    .leida {
        position: absolute;
        left: 50%;
        top: 56.5%;
        width: rem(425);
        transform: translate(-50%, -50%) rotate(0);
    }
}

.leida-pic {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .in>span {
        position: absolute;
        display: block;
        white-space: nowrap;
        font-size: rem(24);
        color: rgba(51, 51, 51, 1);
        font-size: rem(20);
        padding: 0 rem(18);
        height: rem(50);
        line-height: rem(50);
        text-align: center;

        &:nth-child(1) {
            top: rem(-50);
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(2),
        &:nth-child(8) {
            top: rem(20);
        }

        &:nth-child(3),
        &:nth-child(7) {
            top: 6.3rem
        }

        &:nth-child(4),
        &:nth-child(6) {
            top: 11.7rem;
        }

        &:nth-child(5) {
            top: 15rem;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(2) {
            left: rem(320);
        }

        &:nth-child(3) {
            left: rem(370);
        }

        &:nth-child(4) {
            left: rem(320);
        }

        &:nth-child(6) {
            right: rem(320);
        }

        &:nth-child(7) {
            right: rem(370);
        }

        &:nth-child(8) {
            right: rem(320);
        }
    }
}

.leida-in-my .leida-pic {
    .in>span {
        line-height: rem(30);

        &:nth-child(1) {
            top: rem(-50);
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(2),
        &:nth-child(5) {
            top: rem(90);
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 14.3rem
        }

        &:nth-child(2) {
            left: rem(370);
        }

        &:nth-child(3) {
            left: rem(320);
        }

        &:nth-child(4) {
            left: auto;
            right: rem(320);
        }

        &:nth-child(5) {
            left: auto;
            right: rem(370);
            -webkit-transform: translateX(0);
    transform: translateX(0);
        }
    }
}

.tag-list {
    font-size: rem(25);
    color: rgba(64, 64, 64, 1);
    line-height: rem(35);
    padding: 0 rem(73) 0 rem(84);

    em,
    strong {
        font-weight: bold;
    }

    li {
        margin-bottom: rem(20);
        position: relative;

        &::before {
            content: '';
            display: inline-block;
            width: rem(32);
            height: rem(32);
            position: absolute;
            left: rem(-50);
            top: rem(1.5);
            background-size: 100% 100%;
            background-image: url(../images/label.png);
        }
    }
}

.btn-2 {
    background-image: linear-gradient(#e5e5e5, #e5e5e5), linear-gradient(90deg, #fe9f74 0%, #fe873c 100%);
    box-shadow: 10px 17px 25px 0px rgba(163, 163, 163, 0.4);
    color: #010101;
}

.logo {
    width: rem(146);
    position: absolute;
    left: rem(50);
    top: rem(20);

    img {
        width: 100%;
    }
}

.style-blue {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%) !important;
}

.style-green {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%) !important;
}

.style-red {
    color: #fff !important;
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%) !important;
}

.style-yellow {
    color: #fff !important;
    background: linear-gradient(90deg, #FFF08C 0%, #FFD572 100%) !important;
}

.sport-show {
    padding: rem(30) rem(30) 0;

    li {
        a {
            @extend .clearfix;
        }

        margin-bottom: rem(30);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .l {
        width: rem(100);
        height: rem(100);
        float: left;

        img {
            width: 100%;
            display: block;
        }
    }

    .r {
        width: rem(490);
        float: right;

        h3 {
            text-align: left;
            font-size: rem(30);
            color: rgba(0, 0, 0, .8);
            padding: rem(5) 0 rem(5) rem(10);
        }

        .progress {
            width: rem(490);
            height: rem(40);
            line-height: rem(40);
            background: rgba(240, 240, 240, 1);
            border-radius: rem(20);
            overflow: hidden;

            span {
                float: left;
                text-align: center;
                border-radius: rem(20);
                color: rgba(191, 191, 191, 1);

                &:first-child.active {
                    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
                }

                &:nth-child(2).active {
                    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
                }

                &:last-child.active {
                    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
                }

                &:last-child {
                    float: right;
                }

                &.active {
                    color: #fff;
                }
            }

        }

        .progress-3 span {
            width: 33.33%;
        }

        .progress-2 span {
            width: 50%;
        }
    }
}


.progress-ing {
    width: rem(490);
    height: rem(40);
    background: rgba(240, 240, 240, 1);
    border-radius: rem(20);

    span {
        float: left;
        text-align: center;
        height: rem(40);
        line-height: rem(40);
        font-size: rem(24);
        color: rgba(255, 255, 255, 1);
        border-radius: rem(20);
    }

    .progress-1,
    .progress-2 {
        background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
    }

    .progress-3 {
        background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
    }

    .progress-4,
    .progress-5 {
        background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
    }

    .progress-1 {
        width: 20%
    }

    .progress-2 {
        width: 40%
    }

    .progress-3 {
        width: 60%
    }

    .progress-4 {
        width: 80%
    }

    .progress-5 {
        width: 100%
    }
}

.report-header {
    img {
        width: 100%;
        display: block;
    }

    h1 {
        position: absolute;
        top: rem(80);
        left: rem(50);
        font-size: rem(48);
        font-weight: bold;
        color: rgba(246, 126, 163, 1);

        background: linear-gradient(-90deg, rgba(58, 168, 238, 1) 0.9765625%, rgba(43, 140, 219, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        background: linear-gradient(-90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 127, 70, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.head-ul {
    padding: rem(20);
    list-style: disc;
    padding-left: rem(60);

    li {
        margin-bottom: rem(60);
    }
}

.houzi {
    position: absolute;
    top: rem(400);
    left: 50%;
    width: rem(410);
    height: rem(410);
    margin-left: rem(-205);
}

.name-bar {
    width: rem(553);
    height: rem(639);
    background-size: 100% 100%;
    background-image: url(../images/NAME-BG.png);
    margin: 0 auto;
    position: relative;

    .name {
        font-size: .96rem;
        width: rem(200);
        position: absolute;
        right: 2.2rem;
        top: 9rem;
        text-align: center;
    }

    .give-list {
        width: rem(440);
        font-size: rem(26);
        color: rgba(158, 157, 157, 1);
        line-height: rem(43);
        display: block;
        margin: 0 auto;
        padding-top: 11.5rem;

        span {
            float: right;
        }
    }

    .about3,
    .about4 {
        font-size: rem(22);
        padding: 2rem 0 0 rem(20);
        white-space: nowrap;
        color: #B0AFAF;
        float: left;
    }

    .about4 {
        float: right;
        padding: 2rem rem(20) 0 0;
    }
}

.head-icon {
    width: rem(80);
    display: block;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    position: absolute;
    text-align: center;
    top: rem(500);
    width: 100%;
    box-sizing: border-box;
    padding: 0 rem(30);
    left: 0;

    span {
        display: block;
        width: 33.33%;
        font-size: rem(40);
        transition: all .9s;
    }

    i {
        display: block;
        margin: 0 auto;
        width: rem(26);
        height: rem(26);
        border: rem(3) solid #333;
        border-radius: rem(30);
        margin-top: rem(28);
        transition: all .9s;
    }

    .active {
        font-size: rem(48);
        font-weight: bold;
        margin-top: rem(-4);

        i {
            width: rem(38);
            height: rem(38);
            border: rem(4) solid #333;
            border-radius: rem(30);
            margin-top: rem(10);
        }
    }
}

.icon-dom {
    height: rem(90);
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
    font-size: rem(38);
    color: #fff;

    em {
        font-weight: 200;
    }
}

.ques-list {
    >li {
        display: none;
        opacity: 0;
        transition: all 1.5s;
    }

    >li.active {
        opacity: 1;
    }
}

.radio-ul,
.icon-ul {
    width: rem(480);
    display: block;
    margin: 0 auto;

    li {
        width: rem(480);
        height: rem(85);
        line-height: rem(85);
        box-sizing: border-box;
        border-radius: rem(85);
        background-color: #fff;
        margin-bottom: rem(30);
        padding-left: rem(34);
        font-size: rem(30);

        i {
            width: rem(20);
            height: rem(20);
            border: rem(2) solid #999;
            border-radius: rem(24);
            display: inline-block;
            vertical-align: middle;
            margin-right: rem(30);
            position: relative;
        }

        .img {
            display: inline-block;
            width: rem(32);
            height: rem(46);
            margin-right: rem(18);
            vertical-align: middle;

            img {
                display: block;
                max-width: rem(32);
                max-height: rem(46);
            }
        }
    }

    .active {
        i {
            border-color: #fe8e4d;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: rem(16);
                height: rem(16);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #fe8e4d;
                border-radius: rem(16);
            }
        }
    }
}

.desc {
    font-size: rem(30);
    margin-bottom: rem(20);
}

.check-ul {
    width: rem(536);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: rem(250);
        height: rem(85);
        line-height: rem(85);
        box-sizing: border-box;
        border-radius: rem(85);
        background-color: #fff;
        margin-bottom: rem(30);
        padding-left: rem(32);
        font-size: rem(30);

        i {
            width: rem(20);
            height: rem(20);
            border: rem(2) solid #999;
            display: inline-block;
            vertical-align: middle;
            margin-right: rem(10);
            position: relative;
        }
    }

    .active {
        i {
            border-color: #fe8e4d;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: rem(20);
                height: rem(20);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-size: 100% 100%;
                background-image: url(../images/right.png);
            }
        }
    }
}

.single-ul {
    width: rem(360);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: rem(116);
        height: rem(116);
        line-height: rem(116);
        box-sizing: border-box;
        border-radius: rem(116);
        background-color: #fff;
        font-size: rem(30);
        text-align: center;
    }

    .active {
        background-color: #fe8e4d;
        color: #fff;
        font-weight: bold;
    }
}

.progress {
    position: fixed;
    bottom: rem(20);
    text-align: center;

    .in {
        display: inline-block;
        height: rem(26);
        width: rem(480);
        background-color: #e4e4e4;
        border-radius: rem(26);
        overflow: hidden;
        vertical-align: middle;
    }

    i {
        width: 5%;
        display: block;
        height: 100%;
        background-color: #fe8f4f;
        transition: all .5s;
    }
}

.head-ul {
    li {
        transition: all 1s;
        transform: translateX(100%);
        opacity: 0;

        &:nth-child(1) {
            transition-delay: 1s
        }

        &:nth-child(2) {
            transition-delay: 2s
        }

        &:nth-child(3) {
            transition-delay: 3s
        }
    }
}

.p12 {
    transition: all 1s;
    transform: translateX(100%);
    opacity: 0;
}

.delay-ans {
    transition: all 1s;
    transform: translateX(100%);
    opacity: 0;
    transition-delay: 4s;
}


.move-latter {
    transition: all 1s;
    transform: translateX(100%);
    opacity: 0;
    transition-delay: 1s;

    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}

.active {
    .head-ul {
        li {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .p12 {
        transform: translateX(0);
        opacity: 1;
    }

    .delay-ans {
        transform: translateX(0);
        opacity: 1;
    }
}

// qus-detial
.qus-detial {
    width: 100%;
    box-sizing: border-box;
    padding: 0 rem(50);
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../images/HEAD-BG2.png);

    .code {
        font-size: rem(28);
        color: #000;
        padding-top: rem(60);
    }

    .en {
        font-size: rem(40);
        color: #010101;
        padding-top: rem(40);
    }

    .name {
        font-size: rem(40);
        padding-top: rem(40);
        color: #fff5b8;
        text-shadow: 1px 2px 0px rgba(121, 80, 44, 0.5);
    }

    .logo {
        position: absolute;
        top: rem(235);
        right: rem(65);
        width: rem(190);
        left: auto;
    }

    .logo-2 {
        padding: rem(28) 0 rem(10);
        width: rem(190);
    }

    .en-2 {
        font-size: rem(34);
        color: rgba(254, 254, 254, 1);
        line-height: rem(50);
        font-weight: 300;
    }

    .rec-2 {
        font-size: rem(55);
        color: rgba(255, 255, 255, 1);
        line-height: 1.5;
        text-shadow: 0px 2px 0px rgba(121, 80, 44, 0.5);
    }

    .p3 {
        padding-top: rem(160);
        width: rem(530);
        font-size: rem(28);
        color: rgba(33, 33, 33, 1);
        line-height: rem(36);
        position: relative;
        font-weight: 300;

        img {
            position: absolute;
            width: rem(33);
            right: rem(-100);
            top: rem(160);
        }
    }

    .p4 {
        width:rem(508);
        font-size:rem(28);
        font-weight:300;
        color:rgba(33,33,33,1);
        line-height:rem(36);
        position: relative; 
        padding-left: rem(95);
        margin: rem(100) 0 rem(60);
        img {
            width: rem(63);
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .btns {
        text-align: center;
        padding: rem(0) 0;
        margin-bottom: rem(50);

        a {
            float: none;
            display: inline-block;
        }
    }
}

.detial-my {
    .report-div:nth-child(2){
        margin-top: 0;
    }

    .card-warp {
        width: rem(640);
        margin: 0 auto;
        background-color: transparent;
        margin-top: rem(16);
        padding-bottom: rem(32);
    
        img {
            display: block;
            width: rem(470);
            margin: 0 auto;
        }
    
        .card-in {
            padding: rem(40) 0;
        }
    
        h2 {
            font-size: rem(34);
            color: rgba(255, 129, 72, 1);
            line-height: rem(42);
            margin-bottom: rem(30);
            text-align: center;
            font-weight: bold;
        }
    
        .table-2 {
            width: rem(546);
            margin: 0 auto;
            border-top: rem(5) solid rgba(255, 129, 72, 1);
            border-bottom: rem(5) solid rgba(255, 129, 72, 1);
        }
    
        .th,
        .td {
            display: block;
            width: 100%;
            overflow: hidden;
            line-height: rem(56);
            border-bottom: rem(1) solid rgba(255, 129, 72, 1);
    
            span {
                display: block;
                float: left;
            }
    
            span {
                &:last-child {
                    float: right;
                }
            }
        }
    
        .th {
            font-size: rem(22);
            color: rgba(255, 129, 72, 1);
            font-weight: bold;
        }
    
        .td {
            font-size: rem(20);
            color: rgba(64, 64, 64, 1);
        }
    }

    .name-bar {
        width: rem(625);
        height: rem(772);
        background-size: 100% 100%;
        background-image: url(../images/bag-bg.png);
        margin: 0 auto;
        position: relative;
    
        .name {
            font-size: rem(45);
            width: rem(200);
            position: absolute;
            right: 3rem;
            top: 10rem;
            text-align: center;
        }
    
        .give-list {
            width: rem(440);
            font-size: rem(26);
            color: #212121;
            line-height: rem(43);
            display: block;
            margin: 0 auto;
            padding-top: 14.5rem;
    
            span {
                float: right;
            }
        }
    
        .about3,
        .about4 {
            font-size: rem(22);
            padding: 2rem 0 0 rem(70);
            white-space: nowrap;
            color: #212121;
            float: left;
        }
    
        .about4 {
            float: right;
            padding: 2rem rem(70) 0 0;
        }
    }
    
}

.qus-detial-my {
    .me-list {
        padding-top: rem(90);

        a {
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: rem(20);
                height: rem(21);
                background-size: 100% 100%;
                background-image: url(../images/icon-7.png);
                right: 0;
                top: rem(140);
            }
        }
    }

    .me-list img {
        border-radius: rem(161);
        margin-bottom: rem(6);
    }

    .btns {
        padding-top: rem(30);
        .btn-3 {
            background:linear-gradient(-90deg,rgba(139,139,139,1),rgba(107,107,107,1));
        }

        .btn-1 {
            background:linear-gradient(90deg,rgba(254,135,60,1) 0%,rgba(254,159,116,1) 100%);
        }
    }
}

.me-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: rem(120);
    padding-left: rem(15);

    li {
        width: rem(160);
        height: rem(160+130);
        font-size: rem(20);
        line-height: rem(25);
        align-self: flex-start;
        flex: 0 0 33.33%;

        a {
            display: block;
            text-align: center;
            width: rem(166);
        }

        p {
            width: 8.4rem;
            margin-left: -0.88rem;
            line-height: rem(26);
            max-height: rem(52);
            word-break: break-all;
        }

        &:nth-child(3n-1) {
            a {
                margin: 0 auto;
            }

            align-self: center;
        }

        &:nth-child(3n) {
            a {
                float: right;
            }

            align-self: flex-end;
        }

        p {
            color: #79502c;
        }
    }

    img {
        display: block;
        width: rem(160);
        height: rem(160);
    }
}

.other {
    font-size: rem(30);
    padding-top: rem(70);

    a {
        display: inline-block;
        color: #79502c;
        margin-right: rem(100);
    }

    img {
        vertical-align: rem(-5);
        margin-right: rem(12);
        height: rem(34);
    }
}

.qus-detial-2 {
    height: rem(260);
    width: 100%;

    img {
        left: 0;
        top: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
    }
}

.detial-div {
    position: relative;
    z-index: 9;
    width: rem(706);
    background-color: #fff;
    box-shadow: 3px 4px 3px 0px rgba(121, 80, 44, 0.1);
    border-radius: rem(15);
    margin: 0 auto rem(36);
    box-sizing: border-box;
    padding: rem(50) rem(40) 0;
}

.title {
    font-size: rem(30);
    font-weight: bold;
    line-height: rem(35);
    color: #79502c;
    padding-bottom: rem(18);
    position: relative;

    i {
        width: rem(52);
        height: rem(5);
        background-color: #79502c;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.text {
    font-size: rem(25);
    line-height: rem(45);
    color: #404040;
    padding: rem(18) 0 rem(50);
}

.head-name {
    display: flex;
    margin-bottom: rem(50);
    justify-content: space-between;

    .l {
        float: left;
        width: rem(300);
    }

    h2 {
        font-size: rem(42);
        color: #79502c;
        margin-bottom: rem(12);
    }

    h3 {
        font-size: rem(26);
        color: #79502c;
        text-align: left;
    }

    .icons {
        padding-top: rem(24);

        img {
            vertical-align: middle;
            max-width: rem(42);
            max-height: rem(38);
            margin-right: rem(20);
        }
    }

    .r {
        float: right;
        width: rem(240);
        height: rem(240);
        box-sizing: border-box;
        padding: rem(20);
        position: relative;

        &::before {
            content: '';
            display: block;
            background-image: url(../images/detial/ICON4.png);
            background-size: rem(100) rem(76);
            width: rem(100);
            height: rem(76);
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: rem(-26);
            left: rem(-80);
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: rem(200);
            max-width: rem(200);
        }
    }
}

.table {
    padding: 0 0 rem(50);

    .about {
        font-size: rem(16);
        line-height: rem(35);
        color: #79502c;
        text-align: right;
    }

    .tbody {
        border-top: rem(8) solid #937148;
        border-bottom: rem(8) solid #937148;
    }

    .th,
    .tr {
        display: flex;
        text-align: left;
        height: rem(52);
        line-height: rem(52);
        border-bottom: rem(3) solid #937148;

        &:last-child {
            border-bottom: 0;
        }
    }

    .th .td {
        font-size: rem(22);
        color: #937148;
    }

    .td {
        font-size: rem(20);
        color: #404040;
        flex-basis: 30%;

        &:nth-child(3n) {
            text-align: right;
        }

        &:nth-child(3n-2) {
            flex-basis: 40%;
        }
    }

}

// 3

.second-precent {
    width: 68%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    position: relative;

    .in {
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(200);
        height: rem(200);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background: rgba(255, 148, 148, 1);
        background: linear-gradient(-45deg, rgba(255, 148, 148, 1) 0%, rgba(255, 194, 186, 1) 100%);
        background: -webkit-linear-gradient(-45deg, rgba(255, 148, 148, 1) 0%, rgba(255, 194, 186, 1) 100%);

        .num {
            padding-top: rem(24);
            font-size: rem(80);
            color: #fff;
            font-weight: bold;
            margin-bottom: rem(12);
            line-height: 1.2;

            em {
                font-weight: normal;
                font-size: rem(36);
            }
        }

        button {
            border: 0;
            padding: 0 rem(18);
            white-space: nowrap;
            height: rem(40);
            line-height: rem(40);
            background: #FC7474;
            border-radius: rem(20);
            text-align: center;
            color: #fff;
            font-size: rem(30);
        }
    }

    .circleRun {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
}

.btn-3 {
    @extend .btn-2;
    background: #a1a1a1;
    color: #fff;
    margin-right: rem(30);
}

.btns-new {
    margin-bottom: rem(200);
}

.detial-3 {
    .qus-detial {
        background-size: 100% rem(300);

        .logo {
            top: rem(140);
        }
    }

    .btns {
        width: 100%;
        left: auto;
        margin-left: 0;
    }
}

.rec {
    padding: rem(40) 0 0;
    color: #fff;
    font-size: rem(56);
}

.bottom-list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(80);
    background-color: #fef6f3;
    overflow: hidden;
    z-index: 3;

    a {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        color: #f1779c;
        font-size: rem(22);
    }

    .active {
        background-color: #ff9267;
        color: #fff;
    }

    img {
        vertical-align: middle;
        height: rem(40);
        margin: 0 auto;
        display: block;
        padding-top: rem(5);
    }

}

.bottom-list-my {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(107);
    line-height: rem(107);
    overflow: hidden;
    background-color: #eef1f0;
    z-index: 3;
    border-top: 1px solid rgba(0, 0, 0, .1);

    a {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        color: #333;
        font-size: rem(38);
        box-sizing: border-box;

        i {
            display: inline-block;
            width: rem(40);
            height: rem(40);
            vertical-align: middle;
            background-size: 100% 100%;
            background-image: url(../images/icon-1.png);
        }

        &:last-child {
            border-left: 1px solid rgba(0, 0, 0, .1);
        }

        &:last-child i {
            background-image: url(../images/icon-3.png);
        }

        &:last-child.active i {
            background-image: url(../images/icon-4.png);
        }
    }

    .active {
        color: #FC7360;

        i {
            background-image: url(../images/icon-2.png);
        }
    }



    img {
        vertical-align: middle;
        height: rem(40);
        margin: 0 auto;
        display: block;
        padding-top: rem(5);
    }

}