@charset "utf-8";
// 动画
.red_index_main1 h2{
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 1s;
}

.an_toTop {
    animation: toTop 0.5s linear 0s;
    -webkit-animation: toTop 0.5s linear 0s;
    -ms-animation: toTop 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toBottom {
    animation: toBottom 0.5s linear 0s;
    -webkit-animation: toBottom 0.5s linear 0s;
    -ms-animation: toBottom 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_show {
    animation: show 0.7s linear 0s;
    -webkit-animation: show 0.7s linear 0s;
    -ms-animation: show 0.7s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toRight {
    animation: toRight 0.5s linear 0s;
    -webkit-animation: toRight 0.5s linear 0s;
    -ms-animation: toRight 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toLeft {
    animation: toLeft 0.5s linear 0s;
    -webkit-animation: toLeft 0.5s linear 0s;
    -ms-animation: toLeft 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
@mixin an_delay($num1,$num2){
	@for $i from $num1 through $num2{
		.an_delay#{$i}{ animation-delay: 0.1s*$i; }
	}
}
@include an_delay(1,40);

@keyframes toTop{
	0%{ transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toTop{
	0%{-webkit-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toTop{
	0%{-ms-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toBottom{
	0%{ transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toBottom{
	0%{-webkit-transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toBottom{
	0%{-ms-transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toRight{
	0%{ transform:translate3d(-100px,0px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toRight{
	0%{-webkit-transform:translate3d(-100px,0px,0px); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toRight{
	0%{-ms-transform:translate3d(-100px,0px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toLeft{
	0%{ transform:translate3d(100px,0px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toLeft{
	0%{-webkit-transform:translate3d(100px,0,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toLeft{
	0%{-ms-transform:translate3d(100px,0px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes show{
	0%{  opacity: 0;filter: alpha(opacity= 0); }
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes show{
	0%{ opacity: 0;filter: alpha(opacity= 0); }
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes show{
	0%{  opacity: 0;filter: alpha(opacity= 0);}
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
