@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #fff;
    font-family: "黑体";
}


.index-header {
    width: rem(750);
    height: rem(520);
    margin-bottom: rem(40);
    position: relative;

    .logo-1 img,
    .logo-2 img {
        height: rem(45);
        position: absolute;
        top: rem(32);
    }

    .logo-1 img {
        left: rem(59);
    }

    .logo-2 img {
        left: rem(204);
    }

    .bannar {
        width: 100%;
        height: rem(520);
    }

    .title {
        position: absolute;
        top: rem(96);
        left: rem(90);
        width: rem(584);
    }

    h1 {
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: rem(90);
        font-size: rem(58);
        color: #63c2cc;
        letter-spacing: rem(20);
        text-shadow: 0 0 rem(20) #fff;
    }

    .tips {
        width: rem(183);
        height: rem(74);
        position: absolute;
        right: rem(48);
        bottom: rem(5);
        color: #51469a;

        span {
            position: relative;
            z-index: 2;
            line-height: rem(50);
            text-decoration: underline;
            font-size: rem(20);

            em {
                text-decoration: none;
                font-size: rem(36);
                display: inline-block;
                vertical-align: middle;
                padding: 0 rem(6);
                font-weight: bold;
                padding-left: rem(14);
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.report-div {
    width: rem(666);
    box-shadow: 0px 3px 14px 2px rgba(181, 181, 182, 0.9);
    background: #fff;
    margin: 0 auto;
    border-radius: rem(12);
    margin-bottom: rem(70);
}

.report-title {
    height: rem(66);
    line-height: rem(66);
    font-size: rem(44);
    color: rgba(98, 185, 194, 1);
    text-indent: rem(30);
    background: #b9edea;
    border-radius: rem(12) rem(12) 0 0;
}

.index-res {
    width: rem(566);
    height: rem(340);
    margin: 0 auto;
    padding: rem(30) 0 rem(40);
    position: relative;

    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    span {
        color: #666;
        font-size: rem(16);
        text-align: center;
        position: absolute;

        em {
            position: absolute;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }
    }

    .tip-1 {
        top: rem(40);
        left: rem(108);
        width: rem(98);
        height: rem(98);
        border-radius: rem(98);
    }

    .tip-2 {
        top: rem(30);
        right: rem(70);
        width: rem(108);
        height: rem(108);
        border-radius: rem(108);
    }

    .tip-3 {
        bottom: rem(38);
        left: rem(74);
        width: rem(98);
        height: rem(98);
        border-radius: rem(98);
    }

    .tip-4 {
        bottom: rem(48);
        right: rem(35);
        width: rem(84);
        height: rem(84);
        border-radius: rem(84);
    }

    .tip-5 {
        bottom: rem(158);
        left: 0;
        width: rem(86);
        height: rem(86);
        border-radius: rem(86);
    }

    .tip-6 {
        font-size: rem(14);
        bottom: rem(178);
        right: 0;
        width: rem(68);
        height: rem(68);
        border-radius: rem(68);
    }
}

.style-blue {
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%) !important;
}

.style-green {
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%) !important;
}

.style-red {
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%) !important;
}

.index-progress {
    >p {
        color: rgba(136, 136, 137, 1);
        font-size: rem(20);
        padding: rem(30);
    }

    ul {
        overflow: hidden;
        padding: 0 rem(30);

        li {
            overflow: hidden;
            margin-bottom: rem(40);
        }

        .l {
            float: left;
            width: rem(107);
            height: rem(107);
            border-radius: rem(107);
            margin-right: rem(30);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .r {
            float: left;

            h3 {
                font-size: rem(30);
                color: rgba(136, 136, 137, 1);
                padding: rem(10);

                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: rem(12);
                    width: rem(24);
                    height: rem(27);
                    background-image: url(../images/icon0.png);
                    background-size: 100%;
                }
            }

            .progress-ing {
                width: rem(426);
                height: rem(36);
                border-radius: rem(36);
                box-sizing: border-box;
                padding: rem(3);
                line-height: rem(30);
                background: #eee;

                span {
                    display: block;
                    text-align: center;
                    color: #fff;
                    font-size: rem(24);
                    border-radius: rem(30);
                }
            }
        }

        .progress-2 {
            span {
                float: left;
            }

            .style-1 {
                width: 50%;
                @extend .style-green;
            }

            .style-2 {
                width: 100%;
                @extend .style-red;
            }
        }

        .progress-3 {
            span {
                float: left;
            }

            .style-1 {
                width: 33%;
                @extend .style-blue;
            }

            .style-2 {
                width: 66%;
                @extend .style-green;
            }

            .style-3 {
                width: 100%;
                @extend .style-red;
            }
        }
    }
}

.line {
    @extend .clearfix;

    span {
        float: left;
        height: 100%;
    }

    em {
        float: right;
    }

    // 设置为<0.3(10%)，<=0.3-0.6(30%)，0.6-1(40%)，1(50%)，1-1.3(60%)，(1.3-2)70%，>2(90%)，
    &.style-1 {
        span {
            width: 10%;
            @extend .style-blue;
        }

        em {
            color: #219AD8;
        }
    }

    &.style-2 {
        span {
            width: 30%;
            @extend .style-blue;
        }

        em {
            color: #219AD8;
        }
    }

    &.style-3 {
        span {
            width: 40%;
            @extend .style-blue;
        }

        em {
            color: #219AD8;
        }
    }

    &.style-4 {
        span {
            width: 50%;
            @extend .style-green;
        }

        em {
            color: #219AD8;
        }
    }

    &.style-5 {
        span {
            width: 60%;
            @extend .style-red;
        }

        em {
            color: #FF616A;
        }
    }

    &.style-6 {
        span {
            width: 70%;
            @extend .style-red;
        }

        em {
            color: #FF616A;
        }
    }

    &.style-7 {
        span {
            width: 90%;
            @extend .style-red;
        }

        em {
            color: #FF616A;
        }
    }
}

.second-header {

    .logo-1 img,
    .logo-2 img {
        height: rem(45);
        position: absolute;
        top: rem(32);
    }

    .logo-1 img {
        left: rem(59);
    }

    .logo-2 img {
        left: rem(204);
    }

    .bannar {
        width: 100%;
        height: rem(520);
    }
}

.second-header {
    .bannar {
        height: rem(423);
    }
}

.second-top-div {
    margin-top: rem(-423+263);
    position: relative;
    z-index: 3;
}

.top-img {
    width: rem(134);
    height: rem(134);
    position: absolute;
    right: rem(16);
    top: rem(-76);
    z-index: 4;

    img {
        width: rem(134);
        height: rem(134);
    }
}

.second-progress {
    padding: 0 rem(60);

    .p1 {
        font-size: rem(28);
        color: rgba(98, 185, 194, 1);
        padding: rem(80) 0 rem(26);
    }

    .progress-div {
        width: 100%;
        height: 100%;
        height: rem(56);
        box-sizing: border-box;
        padding: rem(4);
        background: #b9edea;
        border-radius: rem(56);
    }

    .in {
        width: 100%;
        height: 100%;
        background: #f0eded;
        padding: rem(2);
        box-sizing: border-box;
        border-radius: rem(48);
    }

    span {
        height: 100%;
        float: left;
        height: rem(44);
        line-height: rem(44);
        border-radius: rem(44);
        color: #fff;
        font-size: rem(24);
        text-align: center;
    }

    .progress-2 {
        span {
            float: left;
        }

        .style-1 {
            width: 50%;
            @extend .style-green;
        }

        .style-2 {
            width: 100%;
            @extend .style-red;
        }
    }

    .progress-3 {
        span {
            float: left;
        }

        .style-1 {
            width: 33%;
            @extend .style-blue;
        }

        .style-2 {
            width: 66%;
            @extend .style-green;
        }

        .style-3 {
            width: 100%;
            @extend .style-red;
        }
    }

    .p2 {
        font-size: rem(20);
        line-height: 1.5;
        padding: rem(30) 0 rem(70);
        color: rgba(159, 159, 160, 1);
    }
}

.list-style-1 {
    padding: rem(60) 0 rem(60) rem(100);

    li {
        overflow: hidden;
        margin-bottom: rem(30);

        &:last-child {
            margin-bottom: 0;
        }
    }

    img {
        float: left;
        width: rem(117);
        height: rem(117);
        margin-right: rem(45);
        background: #efeff0;
        border-radius: rem(117);
    }

    span {
        float: left;
        height: rem(117);
        line-height: rem(117);
        font-size: rem(35);
        color: rgba(159, 159, 160, 1);
    }
}

.report-text {
    width: rem(550);
    margin: 0 auto;
    padding: rem(40) 0;
    font-size: rem(30);
    color: rgba(159, 159, 160, 1);
}

.list-style-2 {
    padding: rem(40) 0;
    overflow: hidden;

    li {
        float: left;
        width: 33.33%;
    }

    img {
        width: 100%;
        display: block;
        margin-bottom: rem(10);
    }

    span {
        display: block;
        text-align: center;
        font-size: rem(16);
        color: rgba(159, 159, 160, 1);
    }
}

.report-title-2 {
    @extend .report-title;
    text-indent: rem(144);
    position: relative;

    img {
        width: rem(134);
        height: rem(134);
        border-radius: rem(134);
        position: absolute;
        top: rem(-27);
        left: rem(-10);
        background: #a7dad8;
    }
}

.list-style-3 {
    .img-1 {
        margin-right: rem(40);
    }

    .img-2 {
        width: rem(90);
        height: auto;
        background-color: transparent;
        vertical-align: middle;
        padding-top: rem(15);
        margin-right: rem(10);
    }
}

.report-kp-title {
    padding: rem(40) rem(40) 0;
    font-size: rem(40);
    color: rgba(98, 185, 194, 1);
    text-align: center;
}

.report-p1 {
    padding: rem(80);
    font-size: rem(24);
    color: rgba(33, 86, 104, 1);
}

.kp-list-1 {
    width: rem(117*2+130);
    margin: 0 auto;
    padding-bottom: rem(40);

    ul {
        overflow: hidden;
    }

    li {
        float: left;
        width: rem(117);
        margin-right: rem(125);
        overflow: hidden;

        &:nth-child(even) {
            margin-right: 0;
        }

        img {
            width: rem(117);
            height: rem(117);
            background: #eee;
            border-radius: rem(117);
            margin-bottom: rem(20);
            display: block;
        }

        font-size:rem(24);
        color:rgba(159, 159, 160, 1);
        padding: 0 0 rem(20);
        text-align: center;

    }
}

.list-style-4 {
    width: rem(117*3+80*2);
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: rem(36) 0;

    li {
        width: rem(117);
        margin-right: rem(78);
        float: left;
        color: #9f9fa0;
        text-align: center;
        margin-bottom: rem(6);

        img {
            width: rem(117);
            height: rem(117);
            border-radius: rem(117);
            background: #eee;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.kp-list-2 .list-style-1 li span {
    font-size: rem(28)
}

.small-title {
    font-size: rem(30)
}

.report-div-2 {
    padding: rem(40) rem(100) rem(70);
    font-size: rem(20);
    color: rgba(159, 159, 160, 1);
}

.second-progress-2 {
    width: rem(450);
    position: relative;

    .precent {
        position: absolute;
        font-size: rem(32);
        color: rgba(98, 185, 194, 1);
        right: -1.5rem;
        top: 5.1rem;
    }

    .p2 {
        width: 18rem
    }

    &.style-1 {
        .in span {
            width: 10%;
            @extend .style-blue;
        }

        .precent {
            color: #219AD8;
        }
    }

    &.style-2 {
        .in span {
            width: 30%;
            @extend .style-blue;
        }

        .precent {
            color: #219AD8;
        }
    }

    &.style-3 {
        .in span {
            width: 40%;
            @extend .style-blue;
        }

        .precent {
            color: #219AD8;
        }
    }

    &.style-4 {
        .in span {
            width: 50%;
            @extend .style-green;
        }

        .precent {
            color: #219AD8;
        }
    }

    &.style-5 {
        .in span {
            width: 60%;
            @extend .style-red;
        }

        .precent {
            color: #FF616A;
        }
    }

    &.style-6 {
        .in span {
            width: 70%;
            @extend .style-red;
        }

        .precent {
            color: #FF616A;
        }
    }

    &.style-7 {
        .in span {
            width: 90%;
            @extend .style-red;
        }

        .precent {
            color: #FF616A;
        }
    }
}

.mail-body {
    width: rem(670);
    margin: rem(50) auto;
    padding: rem(100) 0 rem(60);
    background-color: #e5f8f7;
    border-radius: rem(10);
    background-image: url(../images/mail-5.png);
    background-size: 100% auto;
    position: relative;

    .tan {
        width: rem(36);
        position: absolute;
        right: rem(130);
        top: rem(70)
    }

    h1 {
        font-size: rem(44);
        color: rgba(98, 185, 194, 1);
        position: absolute;
        left: rem(50);
        top: rem(25);
    }

    .in {
        width: rem(580);
        margin: rem(179) auto rem(122);
        background-size: rem(580) auto;
        background-image: url(../images/mail-2.png);
        background-position: rem(1) 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            display: block;
            width: rem(580);
            position: absolute;
            left: 0;
        }

        &:before {
            top: rem(-179);
            height: rem(179);
            background-size: rem(580) rem(179);
            background-image: url(../images/mail-1.png);
        }

        &:after {
            height: rem(122);
            bottom: rem(-122);
            background-size: rem(580) rem(122);
            background-image: url(../images/mail-3.png);
        }

        p {
            position: relative;
            z-index: 3;
        }

        .p1 {
            position: absolute;
            font-size: rem(30);
            color: rgba(136, 136, 137, 1);
            left: rem(30);
            top: rem(-100);
        }

        .p2 {
            position: relative;
            top: rem(-20);
            padding: 0 rem(30);
            font-size: rem(20);
            color: rgba(136, 136, 137, 1);
            line-height: rem(30);
            text-indent: rem(40);
        }

        .p3 {
            font-size: rem(30);
            color: rgba(136, 136, 137, 1);
            text-align: right;
            padding: rem(40) rem(40) rem(20) 0;
        }

    }
}

.can-open {
    i {
        float: right;
        width: rem(26);
        height: rem(29);
        display: block;
        background-image: url(../images/icon0.png);
        background-size: 100%;
        margin:rem(18) rem(20) 0 0;
        cursor: pointer;
    }
}

.isHide {
    border-radius: .4rem !important;
}