@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #fff;
    font-family: "黑体";
}


.index-header {
    width: rem(750);
    height: rem(520);
    margin-bottom: rem(40);
    position: relative;

    .logo-1 img,
    .logo-2 img {
        height: rem(45);
        position: absolute;
        top: rem(32);
    }

    .logo-1 img {
        left: rem(59);
    }

    .logo-2 img {
        left: rem(204);
    }

    .bannar {
        width: 100%;
        height: rem(520);
    }

    .title {
        position: absolute;
        top: rem(96);
        left: rem(90);
        width: rem(584);
    }

    h1 {
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        top: rem(90);
        font-size: rem(58);
        color: #63c2cc;
        letter-spacing: rem(20);
        text-shadow: 0 0 rem(20) #fff;
    }

    .tips {
        width: rem(183);
        height: rem(74);
        position: absolute;
        right: rem(48);
        bottom: rem(5);
        color: #51469a;

        span {
            position: relative;
            z-index: 2;
            line-height: rem(50);
            text-decoration: underline;
            font-size: rem(20);

            em {
                text-decoration: none;
                font-size: rem(36);
                display: inline-block;
                vertical-align: middle;
                padding: 0 rem(6);
                font-weight: bold;
                padding-left: rem(14);
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.report-div {
    width: rem(666);
    box-shadow: 0px 3px 14px 2px rgba(181, 181, 182, 0.9);
    background: #fff;
    margin: 0 auto;
    border-radius: rem(12);
    margin-bottom: rem(70);
}

.report-title {
    height: rem(66);
    line-height: rem(66);
    font-size: rem(44);
    color: rgba(98, 185, 194, 1);
    text-indent: rem(30);
    background: #b9edea;
    border-radius: rem(12) rem(12) 0 0;
}

.index-res {
    width: rem(566);
    height: rem(340);
    margin: 0 auto;
    padding: rem(30) 0 rem(40);
    position: relative;

    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    span {
        color: #666;
        font-size: rem(18);
        text-align: center;
        position: absolute;

        em {
            position: absolute;
            width: 90%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }
    }

    .tip-1 {
        top: rem(38);
        left: rem(114);
        width: rem(98);
        height: rem(98);
        border-radius: rem(98);
    }

    .tip-2 {
        top: rem(30);
        right: rem(70);
        width: rem(108);
        height: rem(108);
        border-radius: rem(108);
    }

    .tip-3 {
        bottom: rem(42);
        left: rem(82);
        width: rem(94);
        height: rem(94);
        border-radius: rem(98);
    }

    .tip-4 {
        bottom: rem(40);
        right: rem(46);
        width: rem(108);
        height: rem(108);
        border-radius: rem(108);
    }

    .tip-5 {
        bottom: rem(148);
        left: 0;
        width: rem(106);
        height: rem(106);
        border-radius: rem(110);
    }

    .tip-6 {
        bottom: rem(172);
        right: 0;
        width: rem(90);
        height: rem(90);
        border-radius: rem(80);
    }
}

.index-title {
    font-size: rem(40);
    padding: rem(10) 0 0 rem(30);
    color: #717171;
}

.style-blue {
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%) !important;
}

.style-green {
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%) !important;
}

.style-red {
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%) !important;
}

.style-blue-2 {
    background: linear-gradient(90deg, rgba(140, 221, 255, 1) 0%, rgba(113, 200, 255, 1) 100%);
}

.style-green-2 {
    background: linear-gradient(90deg, rgba(193, 228, 155, 1) 0%, rgba(124, 213, 145, 1) 100%);
}

.style-red-2 {
    background: linear-gradient(90deg, rgba(255, 165, 123, 1) 0%, rgba(255, 139, 123, 1) 100%);
}

.index-progress {
    >p {
        color: rgba(136, 136, 137, 1);
        font-size: rem(20);
        padding: rem(30);
    }

    ul {
        overflow: hidden;
        padding: 0 rem(30);

        li {
            overflow: hidden;
            margin-bottom: rem(40);
        }

        .l {
            float: left;
            width: rem(107);
            height: rem(107);
            border-radius: rem(107);
            margin-right: rem(30);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .r {
            float: left;
            position: relative;

            h3 {
                font-size: rem(30);
                color: rgba(136, 136, 137, 1);
                padding: rem(10);

                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: rem(12);
                    width: rem(24);
                    height: rem(27);
                    background-image: url(../images/icon0.png);
                    background-size: 100%;
                }
            }

            em {
                font-size: rem(30);
                position: absolute;
                right: 0;
                top: rem(8);
            }

            .progress-ing {
                width: rem(426);
                height: rem(36);
                border-radius: rem(36);
                box-sizing: border-box;
                padding: rem(3);
                line-height: rem(30);
                background: #eee;

                span {
                    display: block;
                    text-align: center;
                    color: #fff;
                    font-size: rem(24);
                    border-radius: rem(30);
                }
            }
        }

        .progress-2 {
            span {
                float: left;
            }

            .style-1 {
                width: 50%;
                @extend .style-green-2;
            }

            .style-2 {
                width: 100%;
                @extend .style-red-2;
            }
        }

        .progress-3 {
            span {
                float: left;
            }

            .style-1 {
                width: 33%;
                @extend .style-blue-2;
            }

            .style-2 {
                width: 66%;
                @extend .style-green-2;
            }

            .style-3 {
                width: 100%;
                @extend .style-red-2;
            }
        }
    }
}

.line-1 {
    width: 14%;
}

.line-2 {
    width: 14*2%;
}

.line-3 {
    width: 14*3%;
}

.line-4 {
    width: 14*4%;
}

.line-5 {
    width: 14*5%;
}

.line-6 {
    width: 14*6%;
}

.line-7 {
    width: 92%;
}

.line {
    @extend .clearfix;

    span {
        float: left;
        height: 100%;
    }

    em {
        float: right;
    }

    &.disease-blue {
        span {
            @extend .style-blue-2;
        }

        em {
            color: #219AD8;
        }
    }

    &.disease-red {
        span {
            @extend .style-red-2;
        }

        em {
            color: #FF616A;
        }
    }

    &.disease-green {
        span {
            @extend .style-green-2;
        }

        em {
            color: #03c046;
        }
    }
}

.second-header {

    .logo-1 img,
    .logo-2 img {
        height: rem(45);
        position: absolute;
        top: rem(32);
    }

    .logo-1 img {
        left: rem(59);
    }

    .logo-2 img {
        left: rem(204);
    }

    .bannar {
        width: 100%;
        height: rem(520);
    }
}

.second-header {
    .bannar {
        height: rem(423);
    }
}

.second-top-div {
    margin-top: rem(-423+263);
    position: relative;
    z-index: 3;
}

.top-img {
    width: rem(134);
    height: rem(134);
    position: absolute;
    right: rem(16);
    top: rem(-76);
    z-index: 4;

    img {
        width: rem(134);
        height: rem(134);
    }
}

.second-progress {
    padding: 0 rem(60);

    .p1 {
        font-size: rem(28);
        color: rgba(98, 185, 194, 1);
        padding: rem(80) 0 rem(26);
    }

    .progress-div {
        width: 100%;
        height: 100%;
        height: rem(56);
        box-sizing: border-box;
        padding: rem(4);
        background: #b9edea;
        border-radius: rem(56);
    }

    .in {
        width: 100%;
        height: 100%;
        background: #f0eded;
        padding: rem(2);
        box-sizing: border-box;
        border-radius: rem(48);
    }

    span {
        height: 100%;
        float: left;
        height: rem(44);
        line-height: rem(44);
        border-radius: rem(44);
        color: #fff;
        font-size: rem(24);
        text-align: center;
    }

    .progress-2 {
        span {
            float: left;
        }

        .style-1 {
            width: 50%;
            @extend .style-green-2;
        }

        .style-2 {
            width: 100%;
            @extend .style-red-2;
        }
    }

    .progress-3 {
        span {
            float: left;
        }

        .style-1 {
            width: 33%;
            @extend .style-blue-2;
        }

        .style-2 {
            width: 66%;
            @extend .style-green-2;
        }

        .style-3 {
            width: 100%;
            @extend .style-red-2;
        }
    }

    .p2 {
        font-size: rem(20);
        line-height: 1.5;
        padding: rem(30) 0 rem(70);
        color: rgba(159, 159, 160, 1);
    }
}

.list-style-1 {
    padding: rem(60) 0 rem(60) rem(100);

    li {
        overflow: hidden;
        margin-bottom: rem(30);

        &:last-child {
            margin-bottom: 0;
        }
    }

    img {
        float: left;
        width: rem(117);
        height: rem(117);
        margin-right: rem(45);
        background: #efeff0;
        border-radius: rem(117);
    }

    span {
        float: left;
        width: rem(380);
        padding: rem(35) 0;
        line-height: rem(48);
        font-size: rem(35);
        color: rgba(159, 159, 160, 1);
    }
}

.report-text {
    width: rem(550);
    margin: 0 auto;
    padding: rem(40) 0;
    font-size: rem(30);
    color: rgba(159, 159, 160, 1);
}

.list-style-2 {
    padding: rem(40) 0;
    overflow: hidden;

    li {
        float: left;
        width: 33.33%;
    }

    img {
        width: 100%;
        display: block;
        margin-bottom: rem(10);
    }

    span {
        display: block;
        text-align: center;
        font-size: rem(16);
        color: rgba(159, 159, 160, 1);
    }
}

.report-title-2 {
    @extend .report-title;
    text-indent: rem(144);
    position: relative;

    img {
        width: rem(134);
        height: rem(134);
        border-radius: rem(134);
        position: absolute;
        top: rem(-27);
        left: rem(-10);
        background: #a7dad8;
    }
}

.list-style-3 {
    .img-1 {
        margin-right: rem(40);
    }

    .img-2 {
        width: rem(90);
        height: auto;
        background-color: transparent;
        vertical-align: middle;
        padding-top: rem(15);
        margin-right: rem(10);
    }
}

.report-kp-title {
    padding: rem(40) rem(40) 0;
    font-size: rem(40);
    color: rgba(98, 185, 194, 1);
    text-align: center;
}

.report-p1 {
    padding: rem(80);
    font-size: rem(24);
    color: rgba(33, 86, 104, 1);
}

.kp-list-1 {
    width: rem(117*2+130);
    margin: 0 auto;
    padding-bottom: rem(40);

    ul {
        overflow: hidden;
    }

    li {
        float: left;
        width: rem(117);
        margin-right: rem(125);
        overflow: hidden;

        &:nth-child(even) {
            margin-right: 0;
        }

        img {
            width: rem(117);
            height: rem(117);
            background: #eee;
            border-radius: rem(117);
            margin-bottom: rem(20);
            display: block;
        }

        font-size:rem(24);
        color:rgba(159, 159, 160, 1);
        padding: 0 0 rem(20);
        text-align: center;

    }
}

.list-style-4 {
    width: rem(117*3+80*2);
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: rem(36) 0;

    li {
        width: rem(117);
        margin-right: rem(78);
        float: left;
        color: #9f9fa0;
        text-align: center;
        margin-bottom: rem(6);

        img {
            width: rem(117);
            height: rem(117);
            border-radius: rem(117);
            background: #eee;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

.kp-list-2 .list-style-1 li span {
    font-size: rem(28)
}

.small-title {
    font-size: rem(30)
}

.report-div-2 {
    padding: rem(40) rem(100) rem(70);
    font-size: rem(20);
    color: rgba(159, 159, 160, 1);
}

.second-progress-2 {
    width: rem(450);
    position: relative;

    .precent {
        position: absolute;
        font-size: rem(32);
        color: rgba(98, 185, 194, 1);
        right: -1.5rem;
        top: 5.1rem;
    }

    .p2 {
        width: 18rem
    }

    &.disease-blue {
        .in span {
            @extend .style-blue-2;
        }

        .precent {
            color: #219AD8;
        }
    }

    &.disease-red {
        .in span {
            @extend .style-red-2;
        }

        .precent {
            color: #FF616A;
        }
    }

    &.disease-green {
        .in span {
            @extend .style-green-2;
        }

        .precent {
            color: #03C046;
        }
    }
}

.mail-body {
    width: rem(670);
    margin: rem(50) auto;
    padding: rem(100) 0 rem(60);
    background-color: #e5f8f7;
    border-radius: rem(10);
    background-image: url(../images/mail-5.png);
    background-size: 100% auto;
    position: relative;

    .tan {
        width: rem(36);
        position: absolute;
        right: rem(130);
        top: rem(70)
    }

    h1 {
        font-size: rem(44);
        color: rgba(98, 185, 194, 1);
        position: absolute;
        left: rem(50);
        top: rem(25);
    }

    .in {
        width: rem(580);
        margin: rem(179) auto rem(122);
        background-size: rem(580) auto;
        background-image: url(../images/mail-2.png);
        background-position: rem(1) 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            display: block;
            width: rem(580);
            position: absolute;
            left: 0;
        }

        &:before {
            top: rem(-179);
            height: rem(179);
            background-size: rem(580) rem(179);
            background-image: url(../images/mail-1.png);
        }

        &:after {
            height: rem(122);
            bottom: rem(-122);
            background-size: rem(580) rem(122);
            background-image: url(../images/mail-3.png);
        }

        p {
            position: relative;
            z-index: 3;
        }

        .p1 {
            position: absolute;
            font-size: rem(30);
            color: rgba(136, 136, 137, 1);
            left: rem(30);
            top: rem(-100);
        }

        .p2 {
            position: relative;
            top: rem(-20);
            padding: 0 rem(30);
            font-size: rem(20);
            color: rgba(136, 136, 137, 1);
            line-height: rem(30);
            text-indent: rem(40);
        }

        .p3 {
            font-size: rem(30);
            color: rgba(136, 136, 137, 1);
            text-align: right;
            padding: rem(40) rem(40) rem(20) 0;
        }

    }
}

.can-open {
    i {
        float: right;
        width: rem(26);
        height: rem(29);
        display: block;
        background-image: url(../images/icon0.png);
        background-size: 100%;
        margin: rem(18) rem(20) 0 0;
        cursor: pointer;
    }
}

.isHide {
    border-radius: .4rem !important;
}

.sport-table {
    width: rem(610);
    margin: 0 auto;
    padding: rem(40) 0;
    border-radius: 0px 0px rem(10) rem(10);
    overflow: hidden;

    >.tr {
        &:first-child {
            height: rem(50);
            background: #63c2cc;
            border-radius: rem(10) rem(10) 0px 0px;
        }
    }

    .tr {
        width: 100%;
        background: #dcf6f4;
        min-height: rem(40);
        line-height: rem(40);
        text-align: center;
        overflow: hidden;
        border-bottom: 1px solid #fff;
        box-sizing: border-box;

        .th,
        .td {
            display: block;
            float: left;
            width: 25%;
            line-height: rem(40);
            font-size: rem(24);
            color: rgba(0, 0, 0, .64);
            border-right: 1px solid #fff;
            box-sizing: border-box;
            word-break: break-all;

            &:last-child {
                border-right: 0;
            }
        }

        .th {
            color: #fff;
            line-height: rem(50);
        }

        .td {
            line-height: rem(35);
            padding: rem(15) 0;
        }

        .high {
            display: inline-block;
            height: rem(35);
            line-height: rem(35);
            padding: 0 rem(18);
            background: rgba(255, 205, 31, .5);
            color: rgba(255, 103, 101, 1);
            border-radius: rem(35);
        }

        
    }
    .table-header {
        padding-right: rem(20)
    }
}

.table-bottom {
    max-height: 2.3*3rem;
    overflow: auto;
    background: #fff9f5;
  
    &::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, 0);
      border-left: 1px solid rgba(0, 0, 0, 0);
    }
  
    &::-webkit-scrollbar {
      width: rem(20);
      height: rem(13);
      border-radius: rem(20);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #63c2cc;
      background-clip: padding-box;
      border-radius: rem(20);
      min-height: rem(28);
      opacity: .5;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #63c2cc;
      border-radius: rem(20);
      opacity: .5;
    }
  }