@charset "utf-8";

.oh {
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: "微软雅黑";
  width: 100%;
  height: 100%;
}

// 动画
@keyframes child {
  0% {
    transform: translateX(-10px)
  }

  50% {
    transform: translateX(10px)
  }

  100% {
    transform: translateX(-10px)
  }
}

@keyframes fushe {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg)
  }

  2% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(-1.5deg)
  }

  4% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }

  6% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(0.5deg)
  }

  8% {
    -webkit-transform: translate(1.5px, 1.5px) rotate(-0.5deg)
  }

  10% {
    -webkit-transform: translate(1.5px, 0.5px) rotate(0.5deg)
  }

  12% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }

  14% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }

  16% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }

  18% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }

  20% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }

  22% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }

  24% {
    -webkit-transform: translate(-2.5px, 1.5px) rotate(-1.5deg)
  }

  26% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }

  28% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(-1.5deg)
  }

  30% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-1.5deg)
  }

  32% {
    -webkit-transform: translate(0.5px, 0.5px) rotate(-0.5deg)
  }

  34% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(0.5deg)
  }

  36% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-0.5deg)
  }

  38% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg)
  }

  40% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }

  42% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-1.5deg)
  }

  44% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(0.5deg)
  }

  46% {
    -webkit-transform: translate(-2.5px, -1.5px) rotate(0.5deg)
  }

  48% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(0.5deg)
  }

  50% {
    -webkit-transform: translate(0.5px, -1.5px) rotate(-1.5deg)
  }

  52% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(0.5deg)
  }

  54% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }

  56% {
    -webkit-transform: translate(-1.5px, -1.5px) rotate(-1.5deg)
  }

  58% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }

  60% {
    -webkit-transform: translate(-0.5px, -0.5px) rotate(0.5deg)
  }

  62% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-0.5deg)
  }

  64% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(0.5deg)
  }

  66% {
    -webkit-transform: translate(-0.5px, -2.5px) rotate(0.5deg)
  }

  68% {
    -webkit-transform: translate(-2.5px, -2.5px) rotate(-1.5deg)
  }

  70% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-1.5deg)
  }

  72% {
    -webkit-transform: translate(-1.5px, 0.5px) rotate(-0.5deg)
  }

  74% {
    -webkit-transform: translate(-1.5px, 1.5px) rotate(-0.5deg)
  }

  76% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(0.5deg)
  }

  78% {
    -webkit-transform: translate(-1.5px, -2.5px) rotate(-0.5deg)
  }

  80% {
    -webkit-transform: translate(-0.5px, 1.5px) rotate(-0.5deg)
  }

  82% {
    -webkit-transform: translate(1.5px, -1.5px) rotate(-0.5deg)
  }

  84% {
    -webkit-transform: translate(-0.5px, -1.5px) rotate(-1.5deg)
  }

  86% {
    -webkit-transform: translate(-2.5px, 0.5px) rotate(-0.5deg)
  }

  88% {
    -webkit-transform: translate(-2.5px, -0.5px) rotate(-0.5deg)
  }

  90% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-1.5deg)
  }

  92% {
    -webkit-transform: translate(1.5px, -2.5px) rotate(0.5deg)
  }

  94% {
    -webkit-transform: translate(0.5px, 1.5px) rotate(-1.5deg)
  }

  96% {
    -webkit-transform: translate(1.5px, -0.5px) rotate(-1.5deg)
  }

  98% {
    -webkit-transform: translate(-0.5px, 0.5px) rotate(-0.5deg)
  }
}

// 手机
.page {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page-1 {
  background-image: url(../images/bg4.png);
  background-size: 100% auto;
  overflow: hidden;

  .big-bg-1,
  .big-bg-3 {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .big-bg-2,
  .big-bg-4,
  .bg-bottom {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .big-bg-3 {
    z-index: 2;
  }

  .big-bg-4 {
    z-index: 3;
  }

  .bg-tree {
    display: block;
    position: absolute;
    width: rem(229);
    left: 0;
    bottom: 0;
    z-index: 4;
  }

  .brand {
    display: block;
    position: absolute;
    width: rem(303);
    left: rem(58);
    bottom: rem(10);
    z-index: 5;
    animation: child 1s ease-in-out infinite;
  }

  .child {
    display: block;
    position: absolute;
    width: rem(117);
    left: rem(68);
    bottom: rem(190);
    z-index: 5;
    animation: child 1s ease-in-out infinite;
  }

  .bg-bottom {
    z-index: 6;
  }

  .title-top {
    display: block;
    position: absolute;
    width: rem(445);
    left: rem(170);
    top: rem(140);
    z-index: 7;
  }

  .report {
    display: block;
    position: absolute;
    width: rem(301);
    left: rem(48);
    top: rem(290);
    z-index: 7;
  }

  .fushe {
    display: block;
    position: absolute;
    width: rem(134);
    right: rem(70);
    bottom: rem(344);
    z-index: 7;
    animation: fushe 1s linear infinite;
  }

  .articles {
    position: absolute;
    height: 0;
    bottom: 0;
    left: rem(15);
    width: rem(720);
    z-index: 8;
    transition: all .5s;

    .in {
      margin-top: rem(-80);
      width: rem(720);
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 0px rem(50) 0px rgba(0, 0, 0, 1);
      border-radius: rem(16);
      position: relative;
      transition: all .5s;
    }

    h2 {
      text-align: center;

      .back {
        width: rem(50);
        display: none;
        opacity: 0;
        transition: all .5s;
      }

      .title {
        width: rem(410);
        margin-top: rem(-40);
        transition: all .5s;
      }
    }

    .up {
      width: rem(19);
      position: absolute;
      top: rem(-25);
      right: rem(26);
      opacity: 1;
      transition: all .5s;
    }



    &.active {
      bottom: calc(100% - 2.5rem);

      .back {
        opacity: 1;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        margin: rem(26) 0 0 rem(32);
      }

      .in {
        margin-top: 0;
      }
    }

    &.inner-page {
      bottom: calc(100% - 1rem);

      h2 {
        height: rem(80);
        border-bottom: 1px solid rgba(228, 228, 228, 1);

        .title {
          width: rem(197);
          margin-top: rem(15);
        }
      }
    }
  }

  .detail {
    height: calc(100% - 2rem);
    padding: rem(60) rem(60) rem(150);
    box-sizing: border-box;
    overflow: scroll;

    h3 {
      font-size: rem(40);
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      line-height: rem(44);
      margin-bottom: rem(40);
    }

    p {
      font-size: rem(28);
      color: rgba(86, 79, 79, 1);
      line-height: rem(40);
    }
  }
}

.article-list {
  padding: rem(35) rem(60) rem(100) rem(60);
  box-sizing: border-box;
  height: calc(100% - 2rem);
  overflow: scroll;

  li {
    margin-bottom: rem(50);
    overflow: hidden;

    img {
      width: rem(160);
      height: rem(160);
      background: rgba(217, 217, 217, 1);
      border-radius: rem(8);
      float: left;
    }

    .r {
      width: rem(400);
      float: right;
      padding-top: rem(10);

      h4 {
        font-size: rem(32);
        font-weight: bold;
        color: rgba(67, 67, 67, 1);
        line-height: rem(44);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: rem(15);
      }

      p {
        font-size: rem(24);
        color: rgba(128, 128, 128, 1);
        line-height: rem(40);
        height: rem(80);
        overflow: hidden;
      }
    }
  }
}

// 动物园
.page-zoom {
  height: 100%;
  overflow: hidden;

  .bg {
    width: 100%;
    position: absolute;
    height: auto;
    bottom: rem(150);
    left: 0;
  }

  .bootom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: rem(275);
    width: 100%;
    box-sizing: border-box;
    padding: rem(36) rem(40) rem(10);
    background: #2c2e30;
    color: #fff;

    h2 {
      font-size: rem(32);
      font-weight: bold;
      margin-bottom: rem(20);
    }

    .in {
      height: 100%;
      width: 100%;
      overflow: auto;
      display: none;

      &::-webkit-scrollbar-track-piece {
        background-color: #626262;
        border-left: 1px solid rgba(0, 0, 0, 0);
        border-radius: rem(8);
      }

      &::-webkit-scrollbar {
        width: rem(8);
        height: rem(13);
        border-radius: rem(8);
        overflow: hidden;
      }

      &::-webkit-scrollbar-thumb {
        width: rem(6);
        background-color: #d8d8d8;
        background-clip: padding-box;
        border-radius: rem(8);
        min-height: rem(14);
      }
    }

    .in-1 {
      display: block;
    }

    p {
      font-size: rem(28);
      line-height: 1.5;
    }
  }

  .bottom-line {
    position: absolute;
    width: rem(560);
    height: rem(6);
    background: rgba(255, 255, 255, .3);
    bottom: rem(330);
    left: rem(95);

    .line {
      width: 100%;
      height: 100%;

      .point {
        i {
          float: left;
          width: rem(6);
          height: rem(6);
          display: block;
          border-radius: rem(6);
          margin-right: rem(73);
          background: rgba(255, 255, 255, .5);
        }

        i:last-child {
          float: right;
          margin-right: 0;
        }
      }
    }

    .boll {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      width: rem(52);
      height: rem(52);
      border-radius: rem(52);
      background: #707070;

      i {
        position: absolute;
        display: block;
        width: rem(20);
        height: rem(20);
        border-radius: rem(20);
        left: rem(16);
        top: rem(16);
        background: #fff;
      }
    }

    .data {
      position: absolute;
      bottom: rem(100);
      background: #545454;
      width: rem(170);
      height: rem(64);
      line-height: rem(64);
      display: block;
      text-align: center;
      color: #8a8484;
      font-weight: bold;
      font-size: rem(32);
      left: 50%;
      transform: translateX(-50%);

      strong {
        font-weight: bold;
        color: #ff5454;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: rem(-36);
        width:0;
        height:0;
        border-left:rem(18) solid transparent;
        border-right: rem(18) solid transparent;
        border-top: rem(36) solid #545454;
      }
    }
  }
}

@for $i from 1 through 8{
  .page-zoom-#{$i} {
    .bottom-line {
      .boll{
        left: 3.2rem*$i - 3.2rem;
      }
    }
  }
}

.video-person {
  background: #000;
  video {
    width: 100%;
    height: 100%;
  }

  .dialog-person{
    background: #3852a2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
  }

  .next {
    background: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(100);
    border-radius: rem(100);
    width: rem(100);
    height: rem(100);
    border: 0;
    color: #fff;
    font-size: rem(24);
    outline: none;
  }
}