@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #fff;
    font-family: "微软雅黑";
}

.bidding-code {
    padding-top: rem(100);

    >img {
        width: rem(550);
        display: block;
        margin: 0 auto rem(85);
    }

    p {
        width: rem(540);
        font-size: rem(25);
        color: rgba(76, 155, 250, 1);
        line-height: rem(40);
        margin: 0 auto rem(6);
    }

    #get-code {
        width: rem(540);
        display: block;
        margin: 0 auto;
        height: rem(75);
        border: 1px solid rgba(171, 171, 171, 1);
        line-height: rem(73);
        box-sizing: border-box;
        padding: 0 rem(26);
        font-size: rem(30);
        color: rgba(171, 171, 171, 1);
        position: relative;

        img {
            width: rem(38);
            height: rem(38);
            position: absolute;
            top: rem(19);
            right: rem(20);
        }

        input {
            outline: none;
            border: 0;
        }
    }
}

.bidding-form {
    width: 100%;
    margin-bottom: rem(73);
}

.choose-list>p {
    box-sizing: border-box;
    padding: 0 rem(50);
    height: rem(88);
    line-height: rem(88);
    overflow: hidden;
    border-bottom: 1px solid rgba(238, 238, 238, 1);

    span:first-child {
        font-size: rem(30);
        font-weight: bold;
        color: rgba(50, 50, 50, 1);
    }

    span:last-child {
        float: right;
        font-size: rem(30);

        input[type=text] {
            width: rem(170);
            text-align: right;
            font-size: rem(30);
            height: rem(88);
            line-height: rem(88);
            border: 0;
            outline: none;
        }
    }

    &:first-child {
        span:last-child {
            input {
                width: rem(250);
            }
        }
    }

    label {
        color: #ABABAB;
    }

    .select {
        // color: #ABABAB;
        em {
            color: #ABABAB;
        }
        &:after {
            content: '';
            display: inline-block;
            width: rem(21);
            height: rem(18);
            margin-left: rem(12);
            vertical-align: middle;
            background-size: 100% 100%;
            background-image: url(../images/down.png);
        }
    }
}

input[type=radio] {
    width: rem(24);
    height: rem(24);
    border: 1px solid rgba(171, 171, 171, 1);
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    outline: none;
    border-radius: rem(26);
    vertical-align: middle;
}

input[type=radio]:checked {
    border: rem(6) solid #4C9BFA;
}

::-webkit-input-placeholder {
    color: #ABABAB;
}

::-moz-placeholder {
    color: #ABABAB;
}

:-ms-input-placeholder {
    color: #ABABAB;
}

.book {
    margin: rem(73) 0 rem(40);

    input {
        vertical-align: middle;
        appearance: none;
        -webkit-appearance: none;
        width: rem(24);
        height: rem(24);
        background-size: 100%;
        background-image: url(../images/check3.png);
        outline: none;

        &:checked {
            background-image: url(../images/check4.png);
        }
    }

    text-align: center;
    font-size: rem(24);
    color:rgba(98, 98, 98, 1);

    a {
        color: #4C9BFA;
    }
}

.btn {
    width: rem(600);
    height: rem(86);
    line-height: rem(86);
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: rgba(76, 155, 250, 1);
    border-radius: rem(10);
    font-size: rem(42);
    display: block;

    &.disabled {
        background-color: #aaa;
    }
}



.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    .dialog-in {
        position: absolute;
        top: rem(100);
        left: 50%;
        width: rem(620);
        height: rem(871);
        margin-left: rem(-310);
        background-image: url(../images/putup-bg2.png);
        background-size: 100% 100%;
    }

    .tip {
        position: absolute;
        left: rem(90);
        top: rem(10);
        width: rem(60);
        font-size: rem(27);
        color: rgba(255, 255, 255, 1);
        line-height: rem(47);
        font-style: normal;
    }

    .good {
        display: block;
        max-height: rem(248);
        margin: rem(170) auto rem(39);
    }

    .p1 {
        width: rem(390);
        font-size: rem(30);
        color: rgba(47, 47, 47, 1);
        line-height: rem(55);
        margin: 0 auto rem(80);
    }

    .btn {
        width: rem(377);
        font-size: rem(35);
        border-radius: rem(86);
    }

    .close {
        img {
            position: absolute;
            width: rem(52);
            left: 50%;
            transform: translateX(-50%);
            bottom: rem(-100);
        }
    }
}

.choose-data {
    width: rem(650);
    margin: 0 auto rem(70);

    &:first-child {
        padding-top: rem(90);
    }

    h2 {
        font-size: rem(30);
        color: rgba(50, 50, 50, 1);
        padding-left: rem(50);
        position: relative;

        img {
            vertical-align: middle;
            width: rem(24);
            position: absolute;
            top: 50%;
            left: rem(6);
            transform: translateY(-50%);
        }

        i {
            width: rem(29);
            height: rem(29);
            float: right;
            margin-right: rem(70);
            margin-top: rem(6);
            background-size: 100% 100%;
            background-image: url(../images/tishi.png);
        }
    }

    .select {
        width: rem(538);
        height: rem(56);
        line-height: rem(54);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(171, 171, 171, 1);
        font-size: rem(30);
       
        padding-left: rem(24);
        position: relative;
        margin: rem(30) 0 0 rem(50);

        em {
            color: #ABABAB;
        }

        span {
            display: block;
        }

        &:after {
            position: absolute;
            right: rem(20);
            top: rem(20);
            content: '';
            display: inline-block;
            width: rem(21);
            height: rem(18);
            margin-left: rem(12);
            vertical-align: middle;
            background-size: 100% 100%;
            background-image: url(../images/down.png);
        }
    }

    .p1 {
        margin-top: rem(30);
        padding-left: rem(100);
        font-size: rem(30);
        color: rgba(93, 92, 92, 1);

        img {
            vertical-align: middle;
            margin-right: rem(4);
            width: rem(20);
        }

        &.active {
            color: #4C9BFA;
        }
    }

    .p2 {
        font-size: rem(25);
        color: rgba(93, 92, 92, 1);
        margin: rem(40) 0 rem(10) rem(50);
    }

    .saocode {
        width: rem(538);
        height: rem(56);
        line-height: rem(54);
        box-sizing: border-box;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(171, 171, 171, 1);
        font-size: rem(30);
        color: #ABABAB;
        padding-left: rem(24);
        position: relative;
        margin: rem(30) 0 0 rem(50);

        input {
            outline: none;
            border: 0;
        }

        i {
            position: absolute;
            right: rem(13);
            top: rem(8);
            content: '';
            display: inline-block;
            width: rem(37);
            height: rem(38);
            background-size: 100% 100%;
            background-image: url(../images/scan.png);
        }
    }

    .location {
        display: block;
        padding-top: rem(40);

        .name {
            font-size: rem(33);
            padding-left: rem(50);
            color: #242424;
            font-weight: bold;
            margin-bottom: rem(12);

            span:last-child {
                margin-left: rem(30);
            }
        }

        .more {
            padding-left: rem(50);
            position: relative;

            span {
                display: inline-block;
                width: rem(400);
                vertical-align: top;
                word-break: break-all;
            }

            i {
                position: absolute;
                width: rem(8);
                height: rem(22);
                background-size: 100% 100%;
                background-image: url(../images/right.png);
                right: rem(10);
                bottom: rem(6);
            }
        }

        .default,
        .home {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            width: rem(56);
            height: rem(25);
            line-height: rem(25);
            border-radius: rem(25);
            color: #fff;
            font-size: rem(20);
            background: rgba(240, 53, 53, 1);
        }

        .home {
            background: rgba(79, 135, 254, 1);
        }
    }

    .location-hr {
        width: 100%;
        height: rem(6);
        background-size: 100% 100%;
        background-image: url(../images/line2.png);
        margin-top: rem(40);
    }
}

.add-location {
    padding: rem(50) 0 0 rem(50);
    display: block;
    color: rgba(93, 92, 92, 1);

    img {
        width: rem(23);
        vertical-align: middle;
        margin-right: rem(6);
    }
}

.choose-data.time-data h2 img {
    top: .5rem;
    transform: translateY(0);
}

.dialog-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    .dialog-in {
        position: absolute;
        top: rem(100);
        left: 50%;
        width: rem(562);
        height: rem(646);
        margin-left: rem(-281);
        background-image: url(../images/putup-bg1.png);
        background-size: 100% 100%;
    }

    .p1 {
        padding: rem(50) 0 0 rem(20);
        font-size: rem(48);
        font-weight: bold;
        color: rgba(255, 255, 255, 1);

        img {
            width: rem(77);
            vertical-align: middle;
        }
    }

    .p3 {
        width: rem(430);
        font-size: rem(35);
        color: rgba(47, 47, 47, 1);
        line-height: rem(55);
        margin: rem(150) auto rem(60);
        text-indent: rem(70);
    }

    .p4 {
        display: block;
        font-size: rem(30);
        color: rgba(47, 47, 47, 1);
        text-align: center;
        margin-bottom: rem(30);
    }

    .btn {
        width: rem(377);
        font-size: rem(35);
        border-radius: rem(86);
    }

    .close {
        img {
            position: absolute;
            width: rem(52);
            left: 50%;
            transform: translateX(-50%);
            bottom: rem(-100);
        }
    }
}

.dialog-3 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;

    h2 {
        font-size: rem(36);
        text-align: center;
        padding: rem(18) 0;
    }

    .dialog-in {
        position: absolute;
        width: rem(580);
        padding: rem(40);
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: rem(10);
    }

    .close {
        img {
            position: absolute;
            width: rem(52);
            left: 50%;
            transform: translateX(-50%);
            bottom: rem(-100);
        }
    }
}