@charset "utf-8";

.oh {
    overflow: hidden;
}

body {
    background-color: #eee;
    font-family: "微软雅黑";
}

.report-header {
    width: 100%;
    height: auto;
    padding-bottom: rem(100);
    margin-bottom: rem(60);
    background: #fff;
    box-shadow: 0px rem(6) rem(15) 0px rgba(115, 115, 115, 0.1);

    .logo {
        display: block;
        padding: rem(30) rem(45);

        img {
            width: rem(231);
        }
    }

    .header-title {
        width: rem(960);
        height: rem(200);
        background-image: url(../images/banner.png);
        background-size: 100% 100%;
        text-align: center;
        font-size: rem(76);
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: rem(200);
        display: block;
        margin: 0 auto;

        img {
            vertical-align: rem(-6);
            width: rem(54);
            margin-right: rem(28);
        }
    }
}

.report-list-1 {
    background: #fff;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px rem(6) rem(15) 0px rgba(115, 115, 115, 0.1);
    border-radius: rem(20);

    ul {
        padding: rem(80) 0 rem(100);
    }

    li {
        width: rem(900);
        height: rem(238);
        border-radius: 30px;
        margin: 0 auto rem(128);
        background-size: 100% 100%;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        .l img {
            position: absolute;
        }

        .r {
            width: rem(213+473);
            height: 100%;
            line-height: rem(238);
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: rem(34);
            color: rgba(255, 255, 255, 1);

            strong {
                font-size: rem(66);
                font-weight: bold;
                margin-right: rem(20);
            }

            img {
                float: right;
                margin: rem(92) rem(66) 0 0;
                width: rem(37);
            }
        }
    }

    .man {
        background-image: url(../images/BG-1.png);

        .l {
            img {
                width: rem(153);
                top: rem(26);
                left: rem(26);
            }
        }
    }

    .woman {
        background-image: url(../images/BG-2.png);

        .l {
            img {
                width: rem(162);
                top: rem(37);
                left: rem(21);
            }
        }
    }

    .child {
        background-image: url(../images/BG-3.png);

        .l {
            img {
                width: rem(158);
                top: rem(45);
                left: rem(27);
            }
        }
    }
}

.report-list-2 {
    background: #fff;
    width: rem(1000);
    margin: 0 auto;
    box-shadow: 0px rem(6) rem(15) 0px rgba(115, 115, 115, 0.1);
    border-radius: rem(20);

    ul {
        white-space: nowrap;
        overflow: scroll;
        padding: rem(62) rem(45) 0;

        li {
            display: inline-block;
            width: rem(340);
            margin-right: rem(30);
        }

        .bar {
            width: 100%;
            height: rem(420);
            border-radius: rem(12);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            h3 {
                padding: rem(65) rem(20) rem(15);
                font-size: rem(36);
                color: rgba(255, 248, 248, 1);
                position: relative;
                z-index: 3;
                white-space: normal
            }

            span {
                display: block;
                padding: 0 rem(20);
                font-size: rem(30);
                color: rgba(255, 248, 248, 1);
                position: relative;
                z-index: 3;
            }
        }

        a>span {
            width: rem(278);
            height: rem(60);
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(52, 120, 246, 1);
            border-radius: rem(60);
            text-align: center;
            display: block;
            margin: rem(32) auto rem(78);

            font-size: rem(36);
            color: rgba(52, 120, 246, 1);
        }
    }
}

.rec {
    line-height: 4;
    display: block;
    text-align: center;
    font-size: rem(36);
    color: rgba(77, 77, 77, 1);
    opacity: 0.47;
}

.common-title {
    margin: 0 rem(60);
    line-height: rem(110);
    text-indent: rem(20);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    font-size: rem(42);
    color: rgba(77, 77, 77, 1);
}

.common-title-2 {
    margin: 0 rem(60);
    line-height: rem(110);
    text-indent: rem(20);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    font-size: rem(48);
    font-weight: bold;
    color: rgba(77, 77, 77, 1);
    padding-top: rem(10);
}

.report-list-3 {
    padding-bottom: rem(250);
    li {
        width: rem(1000);
        display: block;
        margin: 0 auto rem(47);
        height: rem(305);
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px rem(6) rem(15) 0px rgba(115, 115, 115, 0.1);
        border-radius: rem(20);
        position: relative;
    }

    .l {
        float: left;
        width: rem(202);
        height: rem(202);
        margin: rem(57) 0 0 rem(51);

        img {
            width: rem(202);
            height: rem(202);
        }
    }

    .l {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: rem(59);
            height: rem(79);
            background-image: url(../images/LOCK.png);
            background-size: 100%;
            top: rem(119);
            left: rem(126);
        }
    }

    .r {
        width: 16rem;
        float: right;
        margin-top: rem(70);

        h4 {
            font-size: rem(55);
            font-weight: bold;
            color: rgba(77, 77, 77, 1);
            line-height: rem(60);
            margin-bottom: rem(30);
        }

        p {
            font-size: rem(36);
            text-decoration: line-through;
            color: rgba(77, 77, 77, 1);
            line-height: rem(60);
        }
    }

    .open-btn {
        display: block;
        position: absolute;
        right: rem(35);
        bottom: rem(80);
        width: rem(278);
        height: rem(60);
        background-image: url(../images/UNLOCK.png);
        background-size: 100% 100%;
        text-align: center;
        font-size: rem(36);
        color: rgba(255, 255, 255, 1);
        padding-right: rem(30);
        box-sizing: border-box;
    }
}

.hide-list {
    display: block;
    line-height: 2;
    font-size: rem(36);
    color: rgba(7, 128, 217, .47);
    text-align: center;

    img {
        vertical-align: middle;
        width: rem(49);
        margin-left: rem(20);
        text-align: center;
    }
}

.big-btn {
    position: fixed;
    bottom: rem(80);
    display: block;
    width: 90%;
    height: rem(128);
    line-height: rem(128);
    background: linear-gradient(0deg, rgba(9, 132, 209, 1), rgba(46, 185, 211, 1));
    text-align: center;
    font-size: rem(62);
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    left: 50%;
    transform: translateX(-50%);
}